footer.footer
    .container
        .footer__blocks
            .footer__block
                .footer__heading
                    span Магазин
                .footer__list
                    .footer__link
                        a(href='#') Значки
                    .footer__link
                        a(href='#') Пины
                    .footer__link
                        a(href='#') Пины металл
                    .footer__link
                        a(href='#') Браслеты
                    .footer__link
                        a(href='#') Браслеты верёвочки
                    .footer__link
                        a(href='#') Серёжки
                    .footer__link
                        a(href='#') Упаковка
            .footer__block
                .footer__heading
                    span О нас
                .footer__list
                    .footer__link
                        a(href='#') Наша история
                    .footer__link
                        a(href='#') Что такое значки waf-waf
                    .footer__link
                        a(href='#') Где купить waf-waf
                    .footer__link
                        a(href='#') Друзья waf-waf
                    .footer__link
                        a(href='#') Акции
                    .footer__link
                        a(href='#') Блог
            .footer__block
                .footer__heading
                    span Для бизнеса
                .footer__list
                    .footer__link
                        a(href='#') Значки на заказ
                    .footer__link
                        a(href='#') Значки waf-waf оптом
                    .footer__link
                        a(href='#') Реквизиты
            .footer__block
                .footer__heading
                    span Нужна помощь?
                .footer__list
                    .footer__link
                        a(href='#') Отследить заказ
                    .footer__link
                        a(href='#') Адреса магазинов
                    .footer__link
                        a(href='#') Политика конфиденциальности
                    .footer__link
                        a(href='#') Публичная оферта
                    .footer__link
                        a(href='#') FAQ
            .footer__block.footer__block_mobile
                .footer__heading.footer__heading_socials
                    span Подписывайтесь в соцсетях
                .footer__socials.socials
                    .socials__list
                        .socials__item
                            a(href='#')
                                img(src='static/img/general/i-vk.png' alt='VK')
                        .socials__item
                            a(href='#')
                                img(src='static/img/general/i-instagram.png' alt='Instagram')
                        .socials__item
                            a(href='#')
                                img(src='static/img/general/i-youtube.png' alt='YouTube')
                        .socials__item
                            a(href='#')
                                img(src='static/img/general/i-ok.png' alt='ОК')
                        .socials__item
                            a(href='#')
                                img(src='static/img/general/i-twitter.png' alt='Twitter')
                        .socials__item
                            a(href='#')
                                img(src='static/img/general/i-facebook.png' alt='Facebook')
            .footer__block
                .footer__heading
                    span Будьте в курсе новинок!
                .footer__subscribe.subscribe
                    .subscribe__hint
                        span Подпишитесь на рассылку и узнавайте о новинках самыми первыми
                    form.subscribe__form(action='#')
                        input.subscribe__input.input(type='text' placeholder='Введите вашу почту')
                        button.subscribe__button.button-input
                .footer__heading.footer__heading_socials
                    span Подписывайтесь в соцсетях
                .footer__socials.socials
                    .socials__list
                        .socials__item
                            a(href='#')
                                img(src='static/img/general/i-vk.png' alt='VK')
                        .socials__item
                            a(href='#')
                                img(src='static/img/general/i-instagram.png' alt='Instagram')
                        .socials__item
                            a(href='#')
                                img(src='static/img/general/i-youtube.png' alt='YouTube')
                        .socials__item
                            a(href='#')
                                img(src='static/img/general/i-ok.png' alt='ОК')
                        .socials__item
                            a(href='#')
                                img(src='static/img/general/i-twitter.png' alt='Twitter')
                        .socials__item
                            a(href='#')
                                img(src='static/img/general/i-facebook.png' alt='Facebook')
                .footer__phone
                    a(href='tel:+78126124061') +7 (812) 61-240-61
        .footer__copyright.copyright
            .copyright__logo
                a(href='/')
                    img(src='static/img/general/logo-mono.png' alt='Waf-Waf')
            .copyright__text
                a(href='/')
                    span Значки и аксессуары из дерева Waf-Waf © 2018

