//.popup.insta-popup
//    .popup__overlay
//        .popup__wrap
//            .insta-popup
//                .insta-popup__list
//                    .insta-popup__item.product
//                        .product__look
//                        .product__right
//                            .product__controls
//                                .product__arrows
//                                    .product__arrow.product__arrow_prev
//                                    .product__arrow.product__arrow_next
//                                .product__close
//                            .product__data
//                                .product__photo
//                                    img(src='static/img/content/insta-look-product.png' alt='Значок компас')
//                                .product__price
//                                    span 299 ₽
//                                .product__name
//                                    span Значок компас
//                                .product__btn
//                                    .button
//                                        span Купить
//                            .product__text
//                                span WAF-wAF   //   ИНСТАГРАМ   //    2 НОЯБРЯ 2018
//
//
