.footer
  flex 0 0 auto
  justify-content: space-between
  padding-top: 33px
  padding-bottom: 28px

  &__blocks
    display: flex
    margin-bottom: 38px

  &__block
    width: 310px
    margin-right: 15px

    &:last-child
      margin-right: 0

  &__heading
    margin-bottom: 15px

    color: $gray_dark
    font-size: 15px
    line-height: 21px
    font-weight: 600
    text-transform: uppercase

  &__link
    margin-bottom: 9px

    color: $gray
    font-size: 15px
    line-height: 21px

    a

      &:hover
        text-decoration: underline

  .subscribe
    margin-bottom: 31px

    &__hint
      margin-bottom: 14px

      font-size: 15px
      line-height: 18px
      color: $gray

    &__form
      position: relative

    &__input
      width: 100%
      padding-bottom: 7px

    &__button
      position: absolute
      z-index: 1
      cursor: pointer
      top:7px
      right: 1px
      width: 12px
      height: 12px
      background-image: url('../img/general/i-subscribe.png')

  &__phone
    font-weight: 600
    font-size: 15px
    line-height: 21px
    color: $gray_dark
    letter-spacing: 0

  .socials
    margin-bottom: 25px

    &__list
      display: flex

    &__item
      width: 32px
      height: 32px
      margin-right: 8px
      opacity: 1
      transition: .3s ease opacity


      &:hover
        opacity: .7

      &:last-child
        margin-right: 0


  .copyright
    display: flex
    align-items: center
    justify-content: center

    &:hover

      .copyright__text
        text-decoration: underline

    &__logo
      margin-right: 10px

    &__text
      color: $gray_light3
      font-size: 13px
      line-height: 21px
      letter-spacing: 0