.footer
  padding-top: 33px
  padding-bottom: 28px

  @media $tablet
    padding-top: 28px
    padding-bottom: 50px

  .container
    max-width: 1624px!important
    margin: 0 auto;
    padding: 0 12px;

    @media $mobile
      padding: 0 12px

  &__blocks
    display: flex
    margin-bottom: 38px

    @media $tablet
      flex-direction: column
      margin-bottom: 15px


  &__block
    width: 310px
    margin-right: 15px

    @media $tablet
      width: 100%
      margin-right: 0
      margin-bottom: 25px

    &:last-child
      margin-right: 0

      @media $tablet
        order: -1
        margin-bottom: 0

    &_mobile
      display: none

      @media $tablet
        display: block

        .footer__heading_socials
          display: block

        .footer__socials.socials
          display: block

        .footer__phone
          display: block



  &__heading
    margin-bottom: 15px

    color: $gray_dark
    font-size: 15px
    line-height: 21px
    font-weight: 600
    text-transform: uppercase

    &_socials

      @media $tablet
        display: none


  &__list

    @media $tablet
      display: flex
      flex-wrap: wrap

  &__link
    margin-bottom: 9px

    color: $gray
    font-size: 15px
    line-height: 21px

    @media $tablet
      width: 50%
      line-height: 18px

    a

      &:hover
        text-decoration: underline

  .subscribe
    margin-bottom: 31px

    &__hint
      margin-bottom: 14px

      font-size: 15px
      line-height: 18px
      color: $gray

    &__form
      position: relative

    &__input
      width: 100%
      padding-bottom: 7px

    &__button
      position: absolute
      z-index: 1
      cursor: pointer
      top:7px
      right: 1px
      width: 12px
      height: 12px
      background-image: url('../img/general/i-subscribe.png')

  &__phone
    font-weight: 600
    font-size: 15px
    line-height: 21px
    color: $gray_dark
    letter-spacing: 0

    @media $tablet
      display: none

    a::before
      content: ''
      display: inline-block
      width: 20px
      height: 26px
      background-image: url('../img/general/i-phone.png')
      background-repeat: no-repeat
      background-size: contain
      background-position: center center
      margin-right: 5px
      vertical-align: middle


  .socials
    margin-bottom: 25px

    @media $tablet
      display: none

    &__list
      display: flex

    &__item
      width: 32px
      height: 32px
      margin-right: 8px
      opacity: 1
      transition: .3s ease opacity


      &:hover
        opacity: .7

      &:last-child
        margin-right: 0


  .copyright
    display: flex
    align-items: center
    justify-content: center

    @media $small_mobile
      flex-direction: column

    &:hover

      .copyright__text
        text-decoration: underline

    &__logo
      margin-right: 10px

      @media $small_mobile
        margin-right: 0
        margin-bottom: 10px

    &__text
      color: $gray_light3
      font-size: 13px
      line-height: 21px
      letter-spacing: 0