.header
  position: sticky
  top: 0
  width: 100%
  z-index: 3
  background-color: $white

  @media $mobile
    display: flex
    flex-direction: column

  .container
      max-width: 1624px!important
      padding: 0 30px!important

      @media $small_desktop
        padding: 0 10px!important

      @media $tablet
        padding: 0!important



  .top
    background-color: $violet

    font-size: 12px
    line-height: 21px
    font-weight: 600
    color: $white
    letter-spacing: 1px

    @media $mobile
      order: 3

    &__right
      display: flex
      align-items: center
      height: 100%

      @media $tablet
        display: none

    .container
      display: flex
      justify-content: space-between
      align-items: center
      height: 41px

    .categories
      display: none
      overflow: auto

      @media $mobile
        display: block

      &__list
        white-space: nowrap
        padding: 0 12px

      &__item
        display: inline-block
        text-transform: uppercase
        vertical-align: middle
        margin-right: 23px

        &:last-child
          margin-right: 0


      
  &__action
    text-transform: uppercase

    @media $tablet
      margin: 0 auto

    @media $mobile
      display: none

    a
      &::after
        content: ''
        display: inline-block
        width: 5px
        height: 6px
        background-image: url('../img/general/i-triangle-right.png')
        background-repeat: no-repeat
        background-size: 100%
        margin-left: 10px
        position: relative
        top: -1px

      &:hover
        text-decoration: underline

  .links

    &__list
      height: 100%
      display: flex
      align-items: center

    &__item
      text-transform: uppercase
      position: relative
      padding-right: 14px
      margin-right: 16px

      &:hover
        text-decoration: underline

      &::after
        content: ''
        display: block
        width: 1px
        height: 19px
        background-color: $white
        position: absolute
        top: 0
        right: 0


  .cart
    height: 100%

    &:hover

      .cart__text
        text-decoration: underline


    &__link
      display: flex
      align-items: center

      text-transform: uppercase

    &__text
      margin-right: 15px



    &__counter
      display: flex
      align-items: center
      justify-content: center
      width: 40px
      height: 41px
      background-color: $yellow

      color: $black

  &__logo
    width: 278px

    @media $small_desktop
      width: auto

    a
      display: inline-block
      width: 93px

  &__bottom
    position: relative
    padding-top: 19px

    @media $tablet
      display: none

    .container
      display: flex
      justify-content: space-between


  .menu

    &__list
      display: flex

    &__item
      padding: 8px 30px 27px
      cursor: pointer

      font-size: 16px
      line-height: 21px
      color: $gray_dark
      font-weight: 600
      text-transform: uppercase

      @media $small_desktop
        padding: 8px 25px 27px



      a
        position: relative

        &::after
          content: ''
          display: block
          position: absolute
          bottom: -10px
          left: 0
          right: 0
          height: 2px
          background-color: $blue
          transform: scale(0)
          transition: .3s ease transform

      &:hover, &_active

        & > a

          &::after
            transform: scale(1)


      &:hover

        .submenu
          display: block

    .submenu
      display: none
      position: absolute
      top: 100%
      left: 0
      right: 0
      padding-top: 22px
      background-color: $white

      &__list
        display: flex
        justify-content: center
        flex-wrap: wrap

        @media $small_desktop
          max-width: 1047px
          padding: 0 12px
          margin: 0 auto

      &__item
        width: 110px
        margin-right: 46px
        margin-bottom: 19px
        flex-shrink: 0

        @media $small_desktop
          margin-right: 35px

          &:nth-child(7)
            margin-right: 0


        &:last-child
          margin-right: 0

        &:hover

          .submenu

            &__overlay
              background-color: alpha($black, 0.3)



      &__img
        position: relative
        margin-bottom: 9px

      &__text
        font-size: 16px
        line-height: 21px
        letter-spacing: 0
        text-align: center
        text-transform: none
        font-weight: 400

      &__overlay
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        transition .3s ease background-color
        background-color: transparent

  .search
    padding-top: 7px

    &__form
      position: relative

    &__input
      width: 278px
      padding-bottom: 7px
    
    &__button
      position: absolute
      z-index: 1
      cursor: pointer
      top: 5px
      right: 0
      width: 12px
      height: 12px
      background-image: url('../img/general/i-search.png')


  .mobile
    display: none

    @media $tablet
      display: block

    &__top
      padding: 12px 0
      background-color: $white

      .container
        display: flex
        align-items: center
        justify-content: space-between

    &__burger
      padding: 10px
      margin: 0 -5px

    &__logo
      width: 92px

    .cart

      &:hover

        .cart__text
          text-decoration: none

      &__wrap
        display: block
        position: relative
        margin-right: 15px

      &__text
        position: absolute
        top: -6px
        right: -10px
        margin: 0
        width: 18px
        height: 18px
        background-color: $yellow
        border-radius: 50%

        font-size: 12px
        line-height: 18px
        text-align: center
        font-weight: 600


      
      &__icon
        width: 22px
        height: 20px
        background-size: 100%
        background-repeat: no-repeat
        background-image: url('../img/general/i-mobile-cart.png')

    &__dropdown
      display: none
      position: absolute
      width: 100%
      background-color: $white
      z-index: 3
      top: 113px
      height: calc(100vh - 113px)
      overflow: auto
      -webkit-overflow-scrolling:touch;

    .search
      background-color: $gray_light4
      border-top: 2px solid #f3f3f3
      padding: 9px 23px 4px

      @media $mobile
        padding: 9px 12px 4px

      &__input
        width: 100%
        background-color: transparent
        border-bottom: none
        padding-left: 0
        padding-right: 0

    .menu

      &__list
        flex-direction: column

      &__item
        position: relative
        border-top: 2px solid #f3f3f3;
        padding: 0

        color: $gray_dark2

        &:last-child
          border-bottom: 2px solid #f3f3f3

        & > a
          display: block
          padding: 16px 25px 20px

          @media $mobile
            padding: 16px 12px 20px

        &:hover

          .submenu
            display: none

          & > a

            &::after
              transform: scale(0)

        &_has-sub

          &::after
            position: absolute
            top: 25px
            right: 18px
            content: ''
            background-image: url('../img/general/i-arrow-down.png')
            width: 12px
            height: 7px
            background-repeat: no-repeat
            background-size: 100%

    .submenu
      position: relative
      padding-top: 12px
      background-color: $gray_light4

      &__list
        justify-content: space-between
        padding: 0 12px 3px

      &__item
        width: calc(50% - 5px)
        margin-right: 0
        margin-bottom: 9px

        a
          display: block

        &:hover

          .submenu

            &__text
              text-decoration: none


      &__img
        margin-bottom: 0

        img
          width: 100%

      &__text
        position: absolute
        left: 15px
        bottom: 11px

        font-size: 18px
        font-weight: 300
        color: $white

    .links

      &__list
        display: flex
        padding: 20px 25px

        @media $mobile
          padding: 20px 12px

      &__item
        position: relative
        padding: 0
        margin: 0

        font-weight: 600
        font-size: 14px
        line-height: 21px
        text-transform: none

        &::after
          content: ''
          display: inline-block
          position: relative
          width: 1px
          height: 20px
          background-color: $gray_dark2
          margin: 0 23px 0 29px
          vertical-align: middle

        &:last-child

          &::after
            content: none
