extends ../layout/main


block variables
    - var title = 'О нас | Waf-Waf'
    - var pageClass = 'text-page'


block content
    .breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item
                a(href='/') Главная
            li.breadcrumbs__item.breadcrumbs__item_active
                a(href='/contacts.html') Где купить #[nobr Waf-Waf]

    .container.text-page__wrap
        h1.like-h1 О нас
        h3.like-h3 Бренд аксессуаров #[nobr Waf-Waf]
        .center
            p Наша миссия — показать людям, что важно видеть мир вокруг и быть более открытыми. Мы делаем это, создавая лучшие аксессуары, которые буду служить напоминанием о самом важном, а также собирая прекрасную команду и оказывая положительное влияние на всех, кто нас окружает, ведь мы вместе с вами создаём реальность, в которой живём.
            p Мы начали в 2013 году с производства деревянных значков и за несколько лет выросли в полноценный бренд аксессуаров, прочно закрепившись в сердцах и на одежде тысяч людей по всему миру.
        .like-h1 Что же такое #[nobr waf-waf]:
        .two-cols
            .two-cols__img
                picture
                    source(media='(max-width: 768px)' srcset='static/img/content/about-1-small.jpg')
                    img(src='static/img/content/about-1.jpg' alt='Комьюнити')
            .two-cols__text
                p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                a.btn.btn_mono.btn_big.js-text-page-btn Подробнее
            .two-cols__popup.popup-text.js-text-page-popup
                .popup-text__close.js-text-page-popup-close
                    i
                .popup-text__content
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.



        .two-cols.two-cols_reverse
            .two-cols__img
                picture
                    source(media='(max-width: 768px)' srcset='static/img/content/about-2-small.jpg')
                    img(src='static/img/content/about-2.jpg' alt='Открытость')
            .two-cols__text
                p Помогаем быть более открытым к другим. Каждый значок или браслет рассказывает что-то о его владельце миру даже лучше, чем слова. Ведь мы все имеем много общих интересов.
                a.btn.btn_mono.btn_big.js-text-page-btn Подробнее
            .two-cols__popup.popup-text.js-text-page-popup
                .popup-text__close.js-text-page-popup-close
                    i
                .popup-text__content
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.
                    p Создаем комьюнити и объединяем людей. Мы верим, что вместе двигаясь по жизни рядом с единомышленниками, ты становишься счастливее и можешь достичь большего. Стань частью большой семьи waf-waf.




        .two-cols
            .two-cols__img
                picture
                    source(media='(max-width: 768px)' srcset='static/img/content/about-3-small.jpg')
                    img(src='static/img/content/about-3.jpg' alt='Компас')
            .two-cols__text
                p Обращаем внимание людей на окружающий мир.  Значок или браслет может стать постоянным напоминанием о настоящих и любимых вещах, и помочь оторваться от цифрового мира, чтобы вернуться в реальный и почувствовать жизнь.
                a.btn.btn_mono.btn_big.js-text-page-btn Подробнее
            .two-cols__popup.popup-text.js-text-page-popup
                .popup-text__close.js-text-page-popup-close
                    i
                .popup-text__content
                    p Обращаем внимание людей на окружающий мир.  Значок или браслет может стать постоянным напоминанием о настоящих и любимых вещах, и помочь оторваться от цифрового мира, чтобы вернуться в реальный и почувствовать жизнь.
                    p Обращаем внимание людей на окружающий мир.  Значок или браслет может стать постоянным напоминанием о настоящих и любимых вещах, и помочь оторваться от цифрового мира, чтобы вернуться в реальный и почувствовать жизнь.
                    p Обращаем внимание людей на окружающий мир.  Значок или браслет может стать постоянным напоминанием о настоящих и любимых вещах, и помочь оторваться от цифрового мира, чтобы вернуться в реальный и почувствовать жизнь.
                    p Обращаем внимание людей на окружающий мир.  Значок или браслет может стать постоянным напоминанием о настоящих и любимых вещах, и помочь оторваться от цифрового мира, чтобы вернуться в реальный и почувствовать жизнь.
                    p Обращаем внимание людей на окружающий мир.  Значок или браслет может стать постоянным напоминанием о настоящих и любимых вещах, и помочь оторваться от цифрового мира, чтобы вернуться в реальный и почувствовать жизнь.
                    p Обращаем внимание людей на окружающий мир.  Значок или браслет может стать постоянным напоминанием о настоящих и любимых вещах, и помочь оторваться от цифрового мира, чтобы вернуться в реальный и почувствовать жизнь.
                    p Обращаем внимание людей на окружающий мир.  Значок или браслет может стать постоянным напоминанием о настоящих и любимых вещах, и помочь оторваться от цифрового мира, чтобы вернуться в реальный и почувствовать жизнь.
                    p Обращаем внимание людей на окружающий мир.  Значок или браслет может стать постоянным напоминанием о настоящих и любимых вещах, и помочь оторваться от цифрового мира, чтобы вернуться в реальный и почувствовать жизнь.
                    p Обращаем внимание людей на окружающий мир.  Значок или браслет может стать постоянным напоминанием о настоящих и любимых вещах, и помочь оторваться от цифрового мира, чтобы вернуться в реальный и почувствовать жизнь.
                    p Обращаем внимание людей на окружающий мир.  Значок или браслет может стать постоянным напоминанием о настоящих и любимых вещах, и помочь оторваться от цифрового мира, чтобы вернуться в реальный и почувствовать жизнь.
                    p Обращаем внимание людей на окружающий мир.  Значок или браслет может стать постоянным напоминанием о настоящих и любимых вещах, и помочь оторваться от цифрового мира, чтобы вернуться в реальный и почувствовать жизнь.
                    p Обращаем внимание людей на окружающий мир.  Значок или браслет может стать постоянным напоминанием о настоящих и любимых вещах, и помочь оторваться от цифрового мира, чтобы вернуться в реальный и почувствовать жизнь.
                    p Обращаем внимание людей на окружающий мир.  Значок или браслет может стать постоянным напоминанием о настоящих и любимых вещах, и помочь оторваться от цифрового мира, чтобы вернуться в реальный и почувствовать жизнь.
                    p Обращаем внимание людей на окружающий мир.  Значок или браслет может стать постоянным напоминанием о настоящих и любимых вещах, и помочь оторваться от цифрового мира, чтобы вернуться в реальный и почувствовать жизнь.










