extends ../layout/main

block variables
    - var title = 'Каталог | Waf-Waf'
    - var pageClass = 'catalog'

block script


block content
    .banner
        .container.container_full
            .banner__bg(style="background-image: url('static/img/content/banner-bg-1.jpg')")
                .banner__text
                    span Каталог
    .breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item
                a(href='/') Главная
            li.breadcrumbs__item.breadcrumbs__item_active
                a(href='/catalog.html') Каталог

    .filters
        .container
            .filters__names.js-catalog-filters
                ul.filters__list
                    li.filters__item
                        a(href='#') Цвет
                    li.filters__item
                        a(href='#') Материал
                    li.filters__item
                        a(href='#') Тип изделия
                    li.filters__item
                        a(href='#') Категория
                    li.filters__item.filters__item_wide
                        a(href='#') По благотворительности


                .filters__sort.js-catalog-sort
                    a(href='#') Сортировать
            .filters__value.value.js-catalog-filters-value
                ul.value__list.value__list_color
                    li.value__item
                        a(href='#')
                            i(style='background-color: #000')
                    li.value__item
                        a(href='#')
                            i(style='background-color: #fff; border: 1px solid #b6b6b6')
                    li.value__item
                        a(href='#')
                            i(style='background-image: url("static/img/content/filter-color-1.png");')
                    li.value__item
                        a(href='#')
                            i(style='background-image: url("static/img/content/filter-color-2.png");')
                    li.value__item
                        a(href='#')
                            i(style='background-color: #000')
                    li.value__item
                        a(href='#')
                            i(style='background-color: #fff; border: 1px solid #b6b6b6')
                    li.value__item
                        a(href='#')
                            i(style='background-image: url("static/img/content/filter-color-1.png");')
                    li.value__item
                        a(href='#')
                            i(style='background-image: url("static/img/content/filter-color-2.png");')
                    li.value__item
                        a(href='#')
                            i(style='background-color: #000')
                    li.value__item
                        a(href='#')
                            i(style='background-color: #fff; border: 1px solid #b6b6b6')
                    li.value__item
                        a(href='#')
                            i(style='background-image: url("static/img/content/filter-color-1.png");')
                    li.value__item
                        a(href='#')
                            i(style='background-image: url("static/img/content/filter-color-2.png");')
                    li.value__item
                        a(href='#')
                            i(style='background-color: #000')
                    li.value__item
                        a(href='#')
                            i(style='background-color: #fff; border: 1px solid #b6b6b6')
                    li.value__item
                        a(href='#')
                            i(style='background-image: url("static/img/content/filter-color-1.png");')
                    li.value__item
                        a(href='#')
                            i(style='background-image: url("static/img/content/filter-color-2.png");')
                ul.value__list
                    li.value__item
                        a(href='#') Дерево
                    li.value__item
                        a(href='#') Пластик
                    li.value__item
                        a(href='#') Металл
                ul.value__list
                    li.value__item
                        a(href='#') Значки
                    li.value__item
                        a(href='#') Пины
                    li.value__item
                        a(href='#') Браслеты
                    li.value__item
                        a(href='#') Серёжки-гвоздики
                    li.value__item
                        a(href='#') Упаковка
                ul.value__list
                    li.value__item
                        a(href='#') Значки
                    li.value__item
                        a(href='#') Пины
                    li.value__item
                        a(href='#') Браслеты
                    li.value__item
                        a(href='#') Серёжки-гвоздики
                    li.value__item
                        a(href='#') Упаковка
                ul.value__list
                    li.value__item
                        a(href='#') Благотворительный
                    li.value__item
                        a(href='#') Не благотворительный
                ul.value__list.js-catalog-sort-values
                    li.value__item
                        a(href='#') По имени
                    li.value__item
                        a(href='#') По цене
                    li.value__item
                        a(href='#') По популярности
                    li.value__item
                        a(href='#') По ещё чему-нибудь

            .filters__result-pagination
                .filters__result.result
                    .result__wrap
                        span.result__text Выбрано
                        a(href='#').result__item Значки
                        a(href='#').result__item Хиты продаж
                        a(href='#').result__clear Очистить фильтры
                .pagination
                    ul.pagination__list
                        li.pagination__item
                            a(href='#') < Предыдущая
                        li.pagination__item
                            a(href='#') 1
                        li.pagination__item.pagination__item_active
                            a(href='#') 2
                        li.pagination__item
                            a(href='#') 3
                        li.pagination__item
                            a(href='#') Следующая >

    .filters-sort-mobile
        form.tabs
            input.tabs__input(type='radio' id='tab-filters' name='filter-sort')
            label.tabs__label(for='tab-filters')
                span Фильтры
                input.tabs__reset(type='reset')

            input.tabs__input(type='radio' id='tab-sort' name='filter-sort')
            label.tabs__label(for='tab-sort')
                span Сортировка
                input.tabs__reset(type='reset')

            .tabs__content#mobile-filters
                .filters-sort-mobile__list
                    .filters-sort-mobile__item.filters-sort-mobile__item_opened
                        .filters-sort-mobile__name.js-mobile-filter.js-mobile-filter
                            span Цвет
                        .filters-sort-mobile__value.value.js-mobile-filter-value.js-mobile-filter-value
                            ul.value__list.value__list_color
                                li.value__item
                                    a(href='#')
                                        i(style='background-color: #000')
                                li.value__item
                                    a(href='#')
                                        i(style='background-color: #fff; border: 1px solid #b6b6b6')
                                li.value__item
                                    a(href='#')
                                        i(style='background-image: url("static/img/content/filter-color-1.png");')
                                li.value__item
                                    a(href='#')
                                        i(style='background-image: url("static/img/content/filter-color-2.png");')
                                li.value__item
                                    a(href='#')
                                        i(style='background-color: #000')
                                li.value__item
                                    a(href='#')
                                        i(style='background-color: #fff; border: 1px solid #b6b6b6')
                                li.value__item
                                    a(href='#')
                                        i(style='background-image: url("static/img/content/filter-color-1.png");')
                                li.value__item
                                    a(href='#')
                                        i(style='background-image: url("static/img/content/filter-color-2.png");')
                                li.value__item
                                    a(href='#')
                                        i(style='background-color: #000')
                                li.value__item
                                    a(href='#')
                                        i(style='background-color: #fff; border: 1px solid #b6b6b6')
                                li.value__item
                                    a(href='#')
                                        i(style='background-image: url("static/img/content/filter-color-1.png");')
                                li.value__item
                                    a(href='#')
                                        i(style='background-image: url("static/img/content/filter-color-2.png");')
                                li.value__item
                                    a(href='#')
                                        i(style='background-color: #000')
                                li.value__item
                                    a(href='#')
                                        i(style='background-color: #fff; border: 1px solid #b6b6b6')
                                li.value__item
                                    a(href='#')
                                        i(style='background-image: url("static/img/content/filter-color-1.png");')
                                li.value__item
                                    a(href='#')
                                        i(style='background-image: url("static/img/content/filter-color-2.png");')

                    .filters-sort-mobile__item
                        .filters-sort-mobile__name.js-mobile-filter
                            span Материал
                        .filters-sort-mobile__value.value.js-mobile-filter-value
                            ul.value__list
                                li.value__item
                                    a(href='#') Дерево
                                li.value__item
                                    a(href='#') Пластик
                                li.value__item
                                    a(href='#') Металл
                    .filters-sort-mobile__item
                        .filters-sort-mobile__name.js-mobile-filter
                            span Тип изделия
                        .filters-sort-mobile__value.value.js-mobile-filter-value
                            ul.value__list
                                li.value__item
                                    a(href='#') Значки
                                li.value__item
                                    a(href='#') Пины
                                li.value__item
                                    a(href='#') Браслеты
                                li.value__item
                                    a(href='#') Серёжки-гвоздики
                                li.value__item
                                    a(href='#') Упаковка
                    .filters-sort-mobile__item
                        .filters-sort-mobile__name.js-mobile-filter
                            span Категория
                        .filters-sort-mobile__value.value.js-mobile-filter-value
                            ul.value__list
                                li.value__item
                                    a(href='#') Значки
                                li.value__item
                                    a(href='#') Пины
                                li.value__item
                                    a(href='#') Браслеты
                                li.value__item
                                    a(href='#') Серёжки-гвоздики
                                li.value__item
                                    a(href='#') Упаковка
                    .filters-sort-mobile__item
                        .filters-sort-mobile__name.js-mobile-filter
                            span По благотворительности
                        .filters-sort-mobile__value.value.js-mobile-filter-value
                            ul.value__list
                                li.value__item
                                    a(href='#') Благотворительный
                                li.value__item
                                    a(href='#') Не благотворительный
            .tabs__content#mobile-sort
                .filters-sort-mobile__item.filters-sort-mobile__item_opened
                    .filters-sort-mobile__value.value.js-mobile-filter-value
                        ul.value__list
                            li.value__item
                                a(href='#') По имени
                            li.value__item
                                a(href='#') По цене
                            li.value__item
                                a(href='#') По популярности
                            li.value__item
                                a(href='#') По еще чему-нибудь


    .products
        .container
            .products__list
                .products__item
                    .product
                        .product__image
                            a(href='/product.html')
                                img(src='static/img/content/product-1.jpg' alt='Браслет Dream')
                        .product__text
                            .product__name
                                a(href='/product.html') Браслет Dream
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-2.jpg' alt='Браслет Футбольный мяч')
                        .product__text
                            .product__name
                                a(href='#') Браслет Футбольный мяч Браслет Футбольный мяч
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-1.jpg' alt='Браслет Dream')
                        .product__text
                            .product__name
                                a(href='#') Браслет Dream
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-2.jpg' alt='Браслет Футбольный мяч')
                        .product__text
                            .product__name
                                a(href='#') Браслет Футбольный мяч Браслет Футбольный мяч
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item.products__item_promo
                    .promo
                        .promo__image
                            a(href='#')
                                img(src='static/img/content/promo-1.jpg' alt='Браслеты бесплатно')
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-2.jpg' alt='Браслет Футбольный мяч')
                        .product__text
                            .product__name
                                a(href='#') Браслет Футбольный мяч Браслет Футбольный мяч
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-1.jpg' alt='Браслет Dream')
                        .product__text
                            .product__name
                                a(href='#') Браслет Dream
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-2.jpg' alt='Браслет Футбольный мяч')
                        .product__text
                            .product__name
                                a(href='#') Браслет Футбольный мяч Браслет Футбольный мяч
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-1.jpg' alt='Браслет Dream')
                        .product__text
                            .product__name
                                a(href='#') Браслет Dream
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-2.jpg' alt='Браслет Футбольный мяч')
                        .product__text
                            .product__name
                                a(href='#') Браслет Футбольный мяч Браслет Футбольный мяч
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-1.jpg' alt='Браслет Dream')
                        .product__text
                            .product__name
                                a(href='#') Браслет Dream
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-2.jpg' alt='Браслет Футбольный мяч')
                        .product__text
                            .product__name
                                a(href='#') Браслет Футбольный мяч Браслет Футбольный мяч
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-1.jpg' alt='Браслет Dream')
                        .product__text
                            .product__name
                                a(href='#') Браслет Dream
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item.products__item_promo
                    .promo
                        .promo__image
                            a(href='#')
                                img(src='static/img/content/promo-2.jpg' alt='Бесплатная доставка')
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-2.jpg' alt='Браслет Футбольный мяч')
                        .product__text
                            .product__name
                                a(href='#') Браслет Футбольный мяч Браслет Футбольный мяч
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-1.jpg' alt='Браслет Dream')
                        .product__text
                            .product__name
                                a(href='#') Браслет Dream
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-2.jpg' alt='Браслет Футбольный мяч')
                        .product__text
                            .product__name
                                a(href='#') Браслет Футбольный мяч Браслет Футбольный мяч
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-1.jpg' alt='Браслет Dream')
                        .product__text
                            .product__name
                                a(href='#') Браслет Dream
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-2.jpg' alt='Браслет Футбольный мяч')
                        .product__text
                            .product__name
                                a(href='#') Браслет Футбольный мяч Браслет Футбольный мяч
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-1.jpg' alt='Браслет Dream')
                        .product__text
                            .product__name
                                a(href='#') Браслет Dream
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-2.jpg' alt='Браслет Футбольный мяч')
                        .product__text
                            .product__name
                                a(href='#') Браслет Футбольный мяч Браслет Футбольный мяч
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-1.jpg' alt='Браслет Dream')
                        .product__text
                            .product__name
                                a(href='#') Браслет Dream
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-2.jpg' alt='Браслет Футбольный мяч')
                        .product__text
                            .product__name
                                a(href='#') Браслет Футбольный мяч Браслет Футбольный мяч
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-1.jpg' alt='Браслет Dream')
                        .product__text
                            .product__name
                                a(href='#') Браслет Dream
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-2.jpg' alt='Браслет Футбольный мяч')
                        .product__text
                            .product__name
                                a(href='#') Браслет Футбольный мяч Браслет Футбольный мяч
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-1.jpg' alt='Браслет Dream')
                        .product__text
                            .product__name
                                a(href='#') Браслет Dream
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
                .products__item.products__item_promo
                    .promo
                        .promo__image
                            a(href='#')
                                img(src='static/img/content/promo-3.jpg' alt='Сделано с любовью и добротой')
                .products__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-1.jpg' alt='Браслет Dream')
                        .product__text
                            .product__name
                                a(href='#') Браслет Dream
                            .product__price
                                span 299 ₽
                        .product__btn
                            a.btn(href='#') В корзину
    .visited
        .container
            .visited__heading
                .like-h2 Ранее просмотренные товары
            .visited__list
                .visited__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-1.jpg' alt='Браслет Dream')
                        .product__text
                            .product__name
                                a(href='#') Браслет Dream
                            .product__price
                                span 299 ₽

                .visited__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-2.jpg' alt='Браслет Dream')
                        .product__text
                            .product__name
                                a(href='#') Браслет Dream
                            .product__price
                                span 299 ₽

                .visited__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-1.jpg' alt='Браслет Dream')
                        .product__text
                            .product__name
                                a(href='#') Браслет Dream
                            .product__price
                                span 299 ₽

                .visited__item
                    .product
                        .product__image
                            a(href='#')
                                img(src='static/img/content/product-2.jpg' alt='Браслет Dream')
                        .product__text
                            .product__name
                                a(href='#') Браслет Dream
                            .product__price
                                span 299 ₽
    .instagram
        .container
            .instagram__list
                a.instagram__item(href='#' style='background-image: url("static/img/content/insta-1.jpg")')
                    .instagram__overlay
                    .instagram__text
                        .instagram__icon
                        .instagram__btn.button
                            span Купить look
                a.instagram__item(href='#' style='background-image: url("static/img/content/insta-2.jpg")')
                    .instagram__overlay
                    .instagram__text
                        .instagram__icon
                        .instagram__btn.button
                            span Купить look
                a.instagram__item(href='#' style='background-image: url("static/img/content/insta-3.jpg")')
                    .instagram__overlay
                    .instagram__text
                        .instagram__icon
                        .instagram__btn.button
                            span Купить look
                a.instagram__item(href='#' style='background-image: url("static/img/content/insta-4.jpg")')
                    .instagram__overlay
                    .instagram__text
                        .instagram__icon
                        .instagram__btn.button
                            span Купить look
                a.instagram__item(href='#' style='background-image: url("static/img/content/insta-5.jpg")')
                    .instagram__overlay
                    .instagram__text
                        .instagram__icon
                        .instagram__btn.button
                            span Купить look
                a.instagram__item(href='#' style='background-image: url("static/img/content/insta-6.jpg")')
                    .instagram__overlay
                    .instagram__text
                        .instagram__icon
                        .instagram__btn.button
                            span Купить look
                a.instagram__item(href='#' style='background-image: url("static/img/content/insta-7.jpg")')
                    .instagram__overlay
                    .instagram__text
                        .instagram__icon
                        .instagram__btn.button
                            span Купить look
                a.instagram__item(href='#' style='background-image: url("static/img/content/insta-8.jpg")')
                    .instagram__overlay
                    .instagram__text
                        .instagram__icon
                        .instagram__btn.button
                            span Купить look

