extends ../layout/main


block variables
    - var title = 'Где купить | Waf-Waf'
    - var pageClass = 'contacts'

block script
    script(src='//api-maps.yandex.ru/2.1/?lang=ru_RU')


block content
    .breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item
                a(href='/') Главная
            li.breadcrumbs__item.breadcrumbs__item_active
                a(href='/contacts.html') Где купить Waf-Waf

    .container
        h1.like-h1 Где купить #[nobr Waf-Waf]

    .contacts__content
        .container
            .contacts__left
                .contacts__search.search
                    .search__title
                        span Введите название города
                    .search__input
                        input(type='text' autocomplete="nope").textfield.textfield_wide
                        a(href='#').search__clear
                        .search__dropdown
                            .search__list
                                .search__item #[span Москва], Центр, Россия
                                .search__item #[span Москва], Центр, Россия
                                .search__item #[span Москва], Центр, Россия
                    .search__error Ничего не найдено
                    .search__btn
                        button.btn.btn_big Поиск
                .contacts__list
                    .contacts__item.shop
                        .shop__image
                            img(src='static/img/content/shop-1.jpg' alt='Magicmag')
                        .shop__info
                            .shop__name
                                span Magicmag
                            .shop__address
                                span Москва, Хохловский переулок, дом 7-9/2 Вход №3.
                            .shop__hours.hours
                                .hours__item Пн-Пт: #[span с 10:00 до 20:30]
                                .hours__item Сб-Вс: #[span с 12:00 до 18:00]
                            .shop__show
                                a(href='#' data-shop-id='1').js-map-show-shop Посмотреть на карте
                    .contacts__item.shop
                        .shop__image

                        .shop__info
                            .shop__name
                                span Мир кино
                            .shop__address
                                span Москва, ул. Маросейка 6/8 (м. Китай-Город)
                            .shop__phone Тел #[a(href='tel:+78005553535') 8 800 555-35-35]
                            .shop__show
                                a(href='#' data-shop-id='2').js-map-show-shop Посмотреть на карте
                    .contacts__item.shop
                        .shop__image

                        .shop__info
                            .shop__name
                                span Sweetside
                            .shop__address
                                span ул. Васильевская, 3
                            .shop__hours.hours
                                .hours__item Ежедневно: #[span с 12:00 до 21:00]
                            .shop__phone Тел #[a(href='tel:+78005553535') 8 800 555-35-35]
                            .shop__show
                                a(href='#').js-map-show-shop Посмотреть на карте
                    .contacts__item.shop
                        .shop__image
                            img(src='static/img/content/shop-1.jpg' alt='Magicmag')
                        .shop__info
                            .shop__name
                                span Magicmag
                            .shop__address
                                span Москва, Хохловский переулок, дом 7-9/2 Вход №3.
                            .shop__hours.hours
                                .hours__item Пн-Пт: #[span с 10:00 до 20:30]
                                .hours__item Сб-Вс: #[span с 12:00 до 18:00]
                            .shop__show
                                a(href='#').js-map-show-shop Посмотреть на карте
                    .contacts__item.shop
                        .shop__image

                        .shop__info
                            .shop__name
                                span Мир кино
                            .shop__address
                                span Москва, ул. Маросейка 6/8 (м. Китай-Город)
                            .shop__phone Тел #[a(href='tel:+78005553535') 8 800 555-35-35]
                            .shop__show
                                a(href='#').js-map-show-shop Посмотреть на карте
                    .contacts__item.shop
                        .shop__image

                        .shop__info
                            .shop__name
                                span Sweetside
                            .shop__address
                                span ул. Васильевская, 3
                            .shop__hours.hours
                                .hours__item Ежедневно: #[span с 12:00 до 21:00]
                            .shop__phone Тел #[a(href='tel:+78005553535') 8 800 555-35-35]
                            .shop__show
                                a(href='#').js-map-show-shop Посмотреть на карте
                    .contacts__item.shop
                        .shop__image
                            img(src='static/img/content/shop-1.jpg' alt='Magicmag')
                        .shop__info
                            .shop__name
                                span Magicmag
                            .shop__address
                                span Москва, Хохловский переулок, дом 7-9/2 Вход №3.
                            .shop__hours.hours
                                .hours__item Пн-Пт: #[span с 10:00 до 20:30]
                                .hours__item Сб-Вс: #[span с 12:00 до 18:00]
                            .shop__show
                                a(href='#').js-map-show-shop Посмотреть на карте
                    .contacts__item.shop
                        .shop__image

                        .shop__info
                            .shop__name
                                span Мир кино
                            .shop__address
                                span Москва, ул. Маросейка 6/8 (м. Китай-Город)
                            .shop__phone Тел #[a(href='tel:+78005553535') 8 800 555-35-35]
                            .shop__show
                                a(href='#').js-map-show-shop Посмотреть на карте
                    .contacts__item.shop
                        .shop__image

                        .shop__info
                            .shop__name
                                span Sweetside
                            .shop__address
                                span ул. Васильевская, 3
                            .shop__hours.hours
                                .hours__item Ежедневно: #[span с 12:00 до 21:00]
                            .shop__phone Тел #[a(href='tel:+78005553535') 8 800 555-35-35]
                            .shop__show
                                a(href='#').js-map-show-shop Посмотреть на карте
            .contacts__map
                .contacts__map-elem#map-wherebuy

                script.
                    var dataMap = {
                        "center": [59.930150, 30.374750],
                        "zoom": "12",
                        "items": [
                            {
                                "id": 1,
                                "coordinates": [59.930150, 30.374750],
                                "name": "Magicmag",
                                "address": "ул. Васильевская, 3",
                                "phone": "<a href='+78005553535'>8 800 555-35-35</a>"

                            },
                            {
                                "id": 2,
                                "coordinates": [59.939150, 30.304750],
                                "name": "Мир кино",
                                "address": "Москва, ул. Маросейка 6/8 (м. Китай-Город) Москва, ул. Маросейка 6/8 (м. Китай-Город)",
                                "phone": "<a href='+78005553535'>8 800 555-35-35</a>"

                            }
                        ]
                    }






