extends ../layout/main


block variables
    - var title = 'Доставка | Waf-Waf'
    - var pageClass = 'text-page'


block content
    .breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item
                a(href='/') Главная
            li.breadcrumbs__item.breadcrumbs__item_active
                a(href='/delivery.html') Доставка

    .container.text-page__wrap
        h1.like-h1 Доставка
        p Для вашего удобства мы предлагаем вам следующие варианты доставки:
        .like-h4.bold 1) Самовывоз в Санкт-Петербурге
        p #[span.italic По адресу:]  г. Санкт-Петербург, м. Сенная,  Гражданская улица, 13-15. Пространство "Бертгольд Центр". Через главный вход и сразу в конце арки справа наш магазин :) #[span.bold Каждый день с 11:00 - 21:00] #[br] #[span.italic Срок доставки:] 1-2 дня после изготовления заказа (как только заказ будет в магазине, вам придет об этом смс уведомление). #[br] #[span.italic Стоимость доставки:] #[span.bold бесплатно.] #[br] в наш магазин можно придти без оформления заказа на сайте и купить то, что вам понравится прямо на месте)
        .like-h4.bold 2) Почта РФ.
        p #[span.italic Срок доставки:]  в среднем 4 — 12 дней по всей России, в зависимости от города #[br] #[span.italic Стоимость доставки:] около 270 руб. (рассчитывается при оформлении заказа)
        .like-h4.bold 3) Курьерская доставка СДЭК (курьерская служба) до двери по всей России.
        p #[span.italic Срок доставки:] начиная со следующего дня после изготовления заказа, в зависимости от вашего города. #[br] #[span.italic Стоимость доставки:] #[span.bold от 310 руб. (рассчитывается при оформлении заказа)] #[br] #[span.italic Время доставки:] #[span.bold с 09:00 до 18:00]
        .like-h4.bold 4) Пункты самовывоза СДЭК (курьерская служба) по всей России.
        p #[span.italic Срок доставки:] начиная со следующего дня после изготовления заказа, в зависимости от вашего города. #[br] #[span.italic Стоимость доставки:] #[span.bold от 170 руб. (рассчитывается при оформлении заказа)] #[br]
        ul
            li
                p Вы выбираете подходящий вам пункт выдачи товаров в вашем городе.
            li
                p Заказ доставляется в него и вам приходит смс уведомление от компании СДЭК, что заказ можно забирать
            li
                p Вы приходите и забираете свой заказ, когда вам удобно (срок хранения заказа в пункте самовывоза обычно около 4-5 дней)