extends ../layout/main

block variables
	- var title = 'Waf-Waf'
	- var pageClass = 'index'

block script

block content
	.index__banner
		.container.container_full
			a(href='#')
				img(src='static/img/content/banner.jpg' alt='Баннер')
	.index__blocks.blocks
		.container
			.blocks__list.blocks__list_2
				.blocks__item
					a.index-block(href='#')
						.index-block__overlay
						.index-block__img(style='background-image: url("static/img/content/category-1.jpg")')
						.index-block__text
							.index-block__name
								span Значки
							.index-block__btn.button
								span Купить сейчас
				.blocks__item
					a.index-block(href='#')
						.index-block__overlay
						.index-block__img(style='background-image: url("static/img/content/category-2.jpg")')
						.index-block__text
							.index-block__name
								span Браслеты
							.index-block__btn.button
								span Купить сейчас
			.index__head
				.index__heading
					span Раскрывайся
				.index__more
					a(href='#') Смотреть всё
			.blocks__list.blocks__list_3
				.blocks__item
					a.index-block(href='#')
						.index-block__overlay
						.index-block__img(style='background-image: url("static/img/content/friends.jpg")')
						.index-block__text
							.index-block__name
								span Друзья
							.index-block__btn.button
								span Перейти
				.blocks__item
					a.index-block(href='#')
						.index-block__overlay
						.index-block__img(style='background-image: url("static/img/content/cooperation.jpg")')
						.index-block__text
							.index-block__name
								span Сотрудничество
							.index-block__btn.button
								span Перейти
				.blocks__item
					a.index-block(href='#')
						.index-block__overlay
						.index-block__img(style='background-image: url("static/img/content/opt.jpg")')
						.index-block__text
							.index-block__name
								span Оптовые заказы
							.index-block__btn.button
								span Перейти
			.index__head
				.index__heading
					span В тренде
				.index__more
					a(href='#') Смотреть всё
			.blocks__list.blocks__list_5
				.blocks__item
					a.index-block(href='#')
						.index-block__overlay
						.index-block__img(style='background-image: url("static/img/content/block-1.jpg")')
						.index-block__text
							.index-block__name
								span Ориджинал
				.blocks__item
					a.index-block(href='#')
						.index-block__overlay
						.index-block__img(style='background-image: url("static/img/content/block-2.jpg")')
						.index-block__text
							.index-block__name
								span Хиты продаж
				.blocks__item
					a.index-block(href='#')
						.index-block__overlay
						.index-block__img(style='background-image: url("static/img/content/block-3.jpg")')
						.index-block__text
							.index-block__name
								span Браслеты
				.blocks__item
					a.index-block(href='#')
						.index-block__overlay
						.index-block__img(style='background-image: url("static/img/content/block-4.jpg")')
						.index-block__text
							.index-block__name
								span Новинки
				.blocks__item
					a.index-block(href='#')
						.index-block__overlay
						.index-block__img(style='background-image: url("static/img/content/block-5.jpg")')
						.index-block__text
							.index-block__name
								span Упаковка
	.index__since.since
		.container
			.since__img
				img(src='static/img/general/logo.png' alt='Waf-Waf')
			.since__text
				p Мы начали в 2013 году с производства деревянных значков и за несколько лет выросли в полноценный бренд аксессуаров, #[br]прочно закрепившись в сердцах и на одежде тысяч людей по всему миру.
	.index__video.video
		.container
			.index__head
				.index__heading
					span Waf-Waf представляет
			.video__slider
				.video__arrow.video__arrow_prev.js-index-videos-prev
				.video__arrow.video__arrow_next.js-index-videos-next
				.video__list.js-index-videos
					.video__item
						.video__wrap(style='background-image: url("static/img/content/video-1.jpg")')
							.video__overlay
								.video__icon
					.video__item
						.video__wrap(style='background-image: url("static/img/content/video-2.jpg")')
							.video__overlay
								.video__icon
					.video__item
						.video__wrap(style='background-image: url("static/img/content/video-1.jpg")')
							.video__overlay
								.video__icon
					.video__item
						.video__wrap(style='background-image: url("static/img/content/video-2.jpg")')
							.video__overlay
								.video__icon
	.index__instagram.instagram
		.container
			.index__head
				.index__heading
					span Инста шоппинг
				.index__more
					a(href='#') Смотреть всё
			.instagram__list
div			a.instagram__i'#' style='background-image: url("static/img/content/insta-1.jpg")')
					.instagram__overlay
					.instagram__text
						.instagram__icon
						.instagram__btn.button
							span Купить look
div			a.instagram__i'#' style='background-image: url("static/img/content/insta-2.jpg")')
					.instagram__overlay
					.instagram__text
						.instagram__icon
						.instagram__btn.button
							span Купить look
div			a.instagram__i'#' style='background-image: url("static/img/content/insta-3.jpg")')
					.instagram__overlay
					.instagram__text
						.instagram__icon
						.instagram__btn.button
							span Купить look
				div.instagram__item(style='background-image: url("static/img/content/insta-4.jpg")')
					.instagram__overlay
					.instagram__text
						.instagram__icon
						.instagram__btn.button
							span Купить look
				div.instagram__item(style='background-image: url("static/img/content/insta-5.jpg")')
					.instagram__overlay
					.instagram__text
						.instagram__icon
						.instagram__btn.button
							span Купить look
				div.instagram__item(style='background-image: url("static/img/content/insta-6.jpg")')
					.instagram__overlay
					.instagram__text
						.instagram__icon
						.instagram__btn.button
							span Купить look
				div.instagram__item(style='background-image: url("static/img/content/insta-7.jpg")')
					.instagram__overlay
					.instagram__text
						.instagram__icon
						.instagram__btn.button
							span Купить look
				div.instagram__item(style='background-image: url("static/img/content/insta-8.jpg")')
					.instagram__overlay
					.instagram__text
						.instagram__icon
						.instagram__btn.button
							span Купить look
