extends ../layout/main

block variables
	- var title = 'Waf-Waf'
	- var pageClass = 'index'

block content
	.index__banner
		a(href='#')
			img(src='static/img/content/banner.jpg' alt='Баннер')
	.index__blocks.blocks
		.blocks__list.blocks__list_2
			.blocks__item
				a.index-block(href='#')
					.index-block__overlay
					.index-block__img
						img(src='static/img/content/category-1.jpg' alt='Значки')
					.index-block__text
						.index-block__name
							span Значки
						.index-block__btn
							span Купить сейчас
			.blocks__item
				a.index-block(href='#')
					.index-block__overlay
					.index-block__img
						img(src='static/img/content/category-2.jpg' alt='Браслеты')
					.index-block__text
						.index-block__name
							span Браслеты
						.index-block__btn
							span Купить сейчас
		.blocks__head
			.blocks__heading
				span Раскрывайся
			.blocks__more
				a(href='#') Смотреть всё
		.blocks__list.blocks__list_3
			.blocks__item
				a.index-block(href='#')
					.index-block__overlay
					.index-block__img
						img(src='static/img/content/friends.jpg' alt='Друзья')
					.index-block__text
						.index-block__name
							span Друзья
						.index-block__btn
							span Перейти
			.blocks__item
				a.index-block(href='#')
					.index-block__overlay
					.index-block__img
						img(src='static/img/content/cooperation.jpg' alt='Сотрудничество')
					.index-block__text
						.index-block__name
							span Сотрудничество
						.index-block__btn
							span Перейти
			.blocks__item
				a.index-block(href='#')
					.index-block__overlay
					.index-block__img
						img(src='static/img/content/opt.jpg' alt='Оптовые заказы')
					.index-block__text
						.index-block__name
							span Оптовые заказы
						.index-block__btn
							span Перейти
		.blocks__head
			.blocks__heading
				span В тренде
			.blocks__more
				a(href='#') Смотреть всё
		.blocks__list.blocks__list_5
			.blocks__item
				a.index-block(href='#')
					.index-block__overlay
					.index-block__img
						img(src='static/img/content/block-1.jpg' alt='Ориджинал')
					.index-block__text
						.index-block__name
							span Ориджинал
			.blocks__item
				a.index-block(href='#')
					.index-block__overlay
					.index-block__img
						img(src='static/img/content/block-2.jpg' alt='Хиты продаж')
					.index-block__text
						.index-block__name
							span Хиты
			.blocks__item
				a.index-block(href='#')
					.index-block__overlay
					.index-block__img
						img(src='static/img/content/block-3.jpg' alt='Браслеты')
					.index-block__text
						.index-block__name
							span Браслеты
			.blocks__item
				a.index-block(href='#')
					.index-block__overlay
					.index-block__img
						img(src='static/img/content/block-4.jpg' alt='Новинки')
					.index-block__text
						.index-block__name
							span Новинки
			.blocks__item
				a.index-block(href='#')
					.index-block__overlay
					.index-block__img
						img(src='static/img/content/block-5.jpg' alt='Упаковка')
					.index-block__text
						.index-block__name
							span Упаковка
