extends ../layout/main

block variables
    - var title = 'Оформление заказа | Waf-Waf'
    - var pageClass = 'order-page'

block script


block content
    .breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item
                a(href='/') Главная
            li.breadcrumbs__item
                a(href='catalog.html') Корзина
            li.breadcrumbs__item.breadcrumbs__item_active
                a(href='catalog-category.html') Оформление заказа
    h1.like-h1 Оформление заказа

    .order-page__wrap
        .container
            .order-page__details.details
                .details__block
                    .details__head.head
                        .head__count 1
                        .head__name
                            span Товары в заказе
                        .head__change-link
                            a(href='#') изменить
                    .details__content
                        .details__table.table
                            .table__row.details__table-head
                                .table__td
                                    span.title Наименование
                                .table__td
                                    span.title Кол-во
                                .table__td
                                    span.title Сумма
                            .table__row
                                .table__td
                                    a(href='#') Браслет Dream
                                .table__td
                                    span 1 шт.
                                .table__td
                                    span 299 ₽
                            .table__row
                                .table__td
                                    a(href='#') Браслет Листок
                                .table__td
                                    span 1 шт.
                                .table__td
                                    span 299 ₽
                            .table__row
                                .table__td
                                    a(href='#') Браслет Create
                                .table__td
                                    span 1 шт.
                                .table__td
                                    span 299 ₽



                        .details__promo.promo
                            .promo__title.title
                                span Применить купон
                            .promo__elem
                                input.textfield(type='text')
                                button.promo__btn
                        .details__btns
                            .btn.btn_big Далее
                .details__block
                    .details__head.head
                        .head__count 2
                        .head__name
                            span Регион доставки
                        .head__change-link
                            a(href='#') изменить
                    .details__content
                        .title.title_required Местоположение
                        .details__location.location
                            .location__input
                                input.textfield.textfield_wide
                                a(href='#').location__clear
                                .location__dropdown
                                    .location__list
                                        .location__item #[span Москва], Центр, Россия
                                        .location__item #[span Москва], Центр, Россия
                                        .location__item #[span Москва], Центр, Россия
                            .details__hint
                                span Выберите свой город в списке
                        .details__btns.details__btns_both
                            a.btn.btn_big.btn_mono(href='#') Назад
                            a.btn.btn_big(href='#') Далее

            .order-page__summary.summary
                .summary__table.table
                    .table__row.summary__head
                        .table__td
                            span Товаров на:
                        .table__td
                            span 897 ₽
                    .table__row
                        .table__td
                            span Доставка:
                        .table__td
                            span 0 ₽
                    .table__row.summary__total
                        .table__td
                            span Итого
                        .table__td
                            span 897 ₽


