extends ../layout/main

block variables
    - var title = 'Браслет Жопка Корги | Waf-Waf'
    - var pageClass = 'product'

block script
    script(src="static/js/okzoom.min.js")
    script(src="static/js/slick.min.js")


block content
    .breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item
                a(href='/') Главная
            li.breadcrumbs__item
                a(href='/catalog.html') Каталог
            li.breadcrumbs__item
                a(href='/catalog-category.html') Браслеты
            li.breadcrumbs__item.breadcrumbs__item_active
                a(href='/product.html') Браслет Dream

    .product__top
        .container
            .product__photos.photos
                .photos__arrow.photos__arrow_prev.photos__arrow_inactive.js-product-photos-prev
                .photos__arrow.photos__arrow_next.js-product-photos-next
                .photos__list.js-product-photos
                    .photos__item
                        img(src='https://waf-waf.ru/upload/iblock/acc/acc7bb87d7a13747486377d804169c56.jpg' alt='Жопка Корги')
                    .photos__item
                        img(src='https://waf-waf.ru/upload/iblock/9e2/9e2d17696a2662ded63bc8b2439b54a1.jpg' alt='Жопка Корги')
                    .photos__item
                        img(src='https://waf-waf.ru/upload/iblock/e34/e34c8c2e20459a1eaff602d4e6619fb5.jpg' alt='Жопка Корги')

            .product__info
                .product__name
                    span Жопка Корги #[sup &copy;]
                .product__price
                    span 299 ₽
                .product__add-to-cart.add-to-cart
                    .add-to-cart__quantity
                        .quantity.js-quantity
                            a(href='#').quantity__minus.js-quantity-minus -
                            input(type='text' value='1').quantity__value.js-quantity-value.input
                            a(href='#').quantity__plus.js-quantity-plus +
                    .add-to-cart__btn
                        a(href='#').btn В корзину
                .product__text
                    .tabs.tabs_product.js-product-tabs
                        input.tabs__input(type='radio' id='tab-descr' name='tab-descr-params' checked=)
                        label.tabs__label.tabs__label_first(for='tab-descr')
                            span Описание

                        input.tabs__input(type='radio' id='tab-params' name='tab-descr-params')
                        label.tabs__label(for='tab-params')
                            span Характеристики

                        .tabs__content.tabs__content_first#product-descr
                            .product__descr
                                p.p Браслет с украшением из нескольких сортов дерева.
                                p.p Размер браслета меняется — он подходит на любую руку. Величина украшения до 3 см. Сделано в Санкт-Петербурге.
                        .tabs__content#product-params
                            p.p Браслет с украшением из нескольких сортов дерева.
                            p.p Размер браслета меняется — он подходит на любую руку. Величина украшения до 3 см. Сделано в Санкт-Петербурге.
    .product__insta-slider.insta-slider
        .insta-slider__heading
            .container
                .like-h2 Инста-шоппинг
        .insta-slider__wrap
            .insta-slider__arrow.js-insta-slider-next
            .insta-slider__list.js-insta-slider
                .insta-slider__item
                    a(href='#' style='background-image: url("static/img/content/insta-1.jpg")')
                        .insta-slider__overlay
                        .insta-slider__icon
                .insta-slider__item
                    a(href='#' style='background-image: url("static/img/content/insta-2.jpg")')
                        .insta-slider__overlay
                        .insta-slider__icon
                .insta-slider__item
                    a(href='#' style='background-image: url("static/img/content/insta-3.jpg")')
                        .insta-slider__overlay
                        .insta-slider__icon
                .insta-slider__item
                    a(href='#' style='background-image: url("static/img/content/insta-4.jpg")')
                        .insta-slider__overlay
                        .insta-slider__icon
                .insta-slider__item
                    a(href='#' style='background-image: url("static/img/content/insta-5.jpg")')
                        .insta-slider__overlay
                        .insta-slider__icon
                .insta-slider__item
                    a(href='#' style='background-image: url("static/img/content/insta-6.jpg")')
                        .insta-slider__overlay
                        .insta-slider__icon
                .insta-slider__item
                    a(href='#' style='background-image: url("static/img/content/insta-7.jpg")')
                        .insta-slider__overlay
                        .insta-slider__icon
                .insta-slider__item
                    a(href='#' style='background-image: url("static/img/content/insta-8.jpg")')
                        .insta-slider__overlay
                        .insta-slider__icon

    .product__advantages.advantages
        .advantages__heading
            .container
                .like-h2 Почему покупают Waf-Waf
        .advantages__list
            a(href='#').advantages__item
                .advantages__image
                    img(src='static/img/content/advantage-1.png' alt='Преимущество под номером 1')
                .advantages__name
                    span Преимущество под номером 1
            a(href='#').advantages__item
                .advantages__image
                    img(src='static/img/content/advantage-2.png' alt='Преимущество под номером 2')
                .advantages__name
                    span Преимущество под номером 2
            a(href='#').advantages__item
                .advantages__image
                    img(src='static/img/content/advantage-3.png' alt='Преимущество под номером 3')
                .advantages__name
                    span Преимущество под номером 3
            a(href='#').advantages__item
                .advantages__image
                    img(src='static/img/content/advantage-4.png' alt='Преимущество под номером 4')
                .advantages__name
                    span Преимущество под номером 4
            a(href='#').advantages__item
                .advantages__image
                    img(src='static/img/content/advantage-1.png' alt='Преимущество под номером 1')
                .advantages__name
                    span Преимущество под номером 5
    .product__suggest.suggest
        .container
            .suggest__heading
                .container
                    .like-h2 Вам также может понравиться
            .suggest__wrap
                .suggest__arrow.suggest__arrow_prev.suggest__arrow_inactive.js-suggest-slider-prev
                .suggest__arrow.suggest__arrow_next.js-suggest-slider-next
                .suggest__list.js-suggest-slider
                    .suggest__item
                        .product
                            .product__image
                                a(href='#')
                                    img(src='static/img/content/product-1.jpg' alt='Браслет Dream')
                            .product__text
                                .product__name
                                    a(href='#') Браслет Dream
                                .product__price
                                    span 299 ₽

                    .suggest__item
                        .product
                            .product__image
                                a(href='#')
                                    img(src='static/img/content/product-2.jpg' alt='Браслет Dream')
                            .product__text
                                .product__name
                                    a(href='#') Браслет Dream
                                .product__price
                                    span 299 ₽

                    .suggest__item
                        .product
                            .product__image
                                a(href='#')
                                    img(src='static/img/content/product-1.jpg' alt='Браслет Dream')
                            .product__text
                                .product__name
                                    a(href='#') Браслет Dream
                                .product__price
                                    span 299 ₽

                    .suggest__item
                        .product
                            .product__image
                                a(href='#')
                                    img(src='static/img/content/product-2.jpg' alt='Браслет Dream')
                            .product__text
                                .product__name
                                    a(href='#') Браслет Dream
                                .product__price
                                    span 299 ₽

