.index-block
  display: block
  width: 100%
  position: relative
  padding-bottom: 75%

  @media $mobile
    padding-bottom: 100%

  &:hover

    .index-block

      &__btn
        color: $black

        span
          background-color: $white

      &__overlay
        background-color: alpha($black, 0.3)

  &__text
    position: absolute
    bottom: 40px
    left: 0
    right: 0
    z-index: 2

    @media $tablet
      bottom: 37px

    @media $mobile
      bottom: 30px

  &__name
    margin-bottom: 28px

    font-size: 36px
    text-transform: uppercase
    line-height: 21px
    color: $white
    text-align: center
    letter-spacing: 1px

    @media $tablet
      margin-bottom: 25px

      font-size: 30px

  &__overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
    transition .3s ease background-color

  &__img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-position: center center
    background-size: cover


.visited
  margin-bottom: 53px

  @media $mobile
    margin-bottom: 18px

  &__heading
    margin-bottom: 35px

    text-align: center

  &__list
    display: flex
    justify-content: space-between
    max-width 1220px
    margin: 0 auto

    @media $tablet
      max-width: 645px

    @media $mobile
      flex-wrap: wrap

  .product

    .product

      &__image
        height: 150px

        @media $mobile
          height: 220px

  &__item
    width: 25%

    @media $mobile
      width: 50%

.instagram

  .container
    max-width: 1920px
    margin: 0 auto
    padding: 0 12px

    @media $mobile
      padding: 0


  &__list
    display: flex
    flex-wrap: wrap

  &__item
    width: 25%
    padding-bottom: 25%
    position: relative
    cursor: pointer
    background-size: contain

    @media $mobile
      width: 50%
      padding-bottom: 50%

    &:hover

      .instagram

        &__overlay
          background-color: alpha($black, 0.3)

        &__text
          opacity: 1

  &__overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
    transition .3s ease background-color
    display: flex
    justify-content: center
    align-items: center

  &__text
    position: absolute
    z-index: 2
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0
    transition .3s ease opacity
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    @media $small_tablet
      display: none

  &__icon
    background-repeat: no-repeat
    background-size: 100%
    width: 25px
    height: 25px
    margin-bottom: 89px
    background-image: url('../img/general/i-insta-icon.png')

    @media $tablet
      margin-bottom: 56px

.banner

  &__bg
    height: 200px
    background-repeat: no-repeat
    background-position: center center

    @media $tablet
      height: 142px

  &__text
    display: flex
    justify-content: center
    align-items: center
    height: 100%

    font-size: 72px
    color: $white
    font-weight: 600
    text-align: center
    text-transform: uppercase
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25)
    letter-spacing: 5.7px

    @media $tablet
      font-size: 36px
      letter-spacing: 2.7px
