.input
  border: none
  border-bottom: 1px solid $gray_light
  padding-left: 0
  padding-right: 0
  border-radius: 0

  font-family: mainFont
  font-size: 16px
  line-height: 21px

  &::placeholder
    color: $gray_light2

.button-input
  background: none
  border: none
  appearance: none
  background-repeat: no-repeat
  background-size: contain
  padding: 0

.button
  color: $white
  font-size: 14px
  line-height: 21px
  text-align: center
  text-transform: uppercase
  font-weight: 600
  transition: .3s ease color
  cursor: pointer

  @media $tablet
    font-size: 12px

  span
    width: 150px
    border: 2px solid #fff;
    padding: 8px 17px;
    display: inline-block;
    transition: .3s ease background-color

    @media $small_tablet
      width: 140px

    @media $mobile
      width: 150px

  &:hover
    color: $black

    span
      background-color: $white


.burger
  display: block
  position: relative
  overflow: hidden
  margin: 0
  padding: 0
  width: 28px
  height: 28px
  font-size: 0
  text-indent: -9999px
  appearance: none
  box-shadow: none
  border-radius: none
  border: none
  cursor: pointer


  span
    display: block
    position: absolute
    top: 12px
    left: 5px
    right: 5px
    height: 2px
    background: $blue


    &::before, &::after
      position: absolute
      display: block
      left: 0
      width: 100%
      height: 2px
      background-color: $blue
      content: ""
      transition: transform 0.3s

    &::before
      top: -5px

    &::after
      bottom: -5px

  &_opened

    span

      background: transparent

      &::before
        top: 0
        transform: rotate(45deg)
        background: $black

      &::after
        bottom: 0
        transform: rotate(-45deg)
        background: $black

.breadcrumbs

  &__list
    display: flex
    align-items: center
    justify-content: center
    padding: 17px 0 14px
    margin: 0 auto

    @media $tablet
      padding: 17px 0 14px

    @media $small_tablet
      flex-wrap: wrap

  &__item
    margin-right: 18px

    font-size: 12px
    line-height: 21px
    color: $gray_light
    text-transform: uppercase

    &:last-child
      margin-right: 0

    &:hover

      a
        text-decoration: underline

    &::after
      content: '→'
      margin-left: 17px

    &_active
      color: $violet

      &::after
        content: none

.pagination

  &__list
    display: flex
    justify-content: center

  &__item
    margin-right: 11px

    font-weight: 300
    font-size: 13px
    color: $gray_dark2
    border: 1px solid $gray_light5

    &:hover
      border-color: $gray_dark2

    a
      display: block
      padding: 7px 8px
      min-width: 30px
      text-align: center
      white-space: nowrap

    &:last-child
      margin-right: 0

    &:first-child

      a
        padding-right: 15px

    &_active
      border-color: transparent
      margin-right: 4px
      margin-left: -9px

      &:hover
        border-color: transparent

      a
        min-width: 27px
        padding: 7px

    &_prev

      a
        &::after
          content: '< Предыдущая'

          @media $mobile
            content: '<'

    &_next

      a
        &::after
          content: 'Следующая >'

          @media $mobile
            content: '>'

.btn
  display: inline-block
  border: none
  appearance: none
  background-color: $pink
  padding: 7px 10px 5px
  width: 100%
  max-width: 239px
  transition: .3s ease background-color
  cursor: pointer

  color: $white
  text-transform: uppercase
  font-size: 12px
  line-height: 21px
  font-weight: 600
  letter-spacing: 0.96px
  text-align: center

  &:hover
    background-color: $pink_hover

  @media $tablet
    max-width: 175px

  &_big
    padding: 13px 10px

  &_mono
    color: #1b1b1b
    border: 1px solid #1b1b1b
    background-color: $white

    &:hover
      color: $white
      background-color: #1b1b1b

  &_blue
    background-color: $blue

    &:hover
      background-color: $blue_hover


.like-h1
  margin-bottom: 20px

  font-weight: 300
  font-size: 30px
  color: $gray_dark
  letter-spacing: 1.8px
  text-align: center
  text-transform: uppercase

.like-h2
  margin-bottom: 20px

  font-size: 24px
  line-height: 28px
  font-weight: 300
  color: $gray_dark2
  text-transform: uppercase
  letter-spacing: 1.92px
  text-align: center

.like-h3
  margin-bottom: 20px

  font-size: 24px
  line-height: 24px
  font-weight: 300
  color: $gray_dark2
  letter-spacing: 0
  text-align: center

.like-h4
  margin-bottom: 25px

  font-size: 21px
  line-height: 24px
  font-weight: 300
  color: $gray_dark2
  letter-spacing: 0

  @media $small_tablet
    font-size: 18px

.tabs

  &__content
    display: none
    width: 100%

  &__input
    display: none

  #tab-filters:checked ~ #mobile-filters, #tab-sort:checked ~ #mobile-sort
    display: block;

  #tab-descr:checked ~ #product-descr, #tab-params:checked ~ #product-params
    display: block;

.quantity
  display: flex

  &_round

    .quantity

      &__minus, &__plus
        width: 26px
        height: 26px
        border-radius: 50%
        line-height: 26px

      &__value
        height: 26px
        width: 30px
        border: none



  &__minus, &__plus
    width: 62px
    height: 47px
    border: 1px solid $gray_light5
    transition: .3s ease background-color

    text-align: center
    font-size: 16px
    line-height: 47px
    font-weight: 300

    @media $tablet
      width: 54px
      height: 45px

      line-height: 45px

    @media $small_tablet
      width: 33.3%

    &:hover
      background-color: $gray_light4

  &__value
    appearance: none;
    width: 64px
    height: 47px
    border: 1px solid $gray_light5
    border-left: none
    border-right: none
    text-align: center

    @media $tablet
      width: 50px
      height: 45px

    @media $small_tablet
      width: 33.3%

.p
  font-size: 15px
  line-height: 21px
  font-weight: 300
  color: $gray_dark2
  letter-spacing: 0
  margin-bottom: 20px

  @media $small_tablet
    font-size: 14px

.table
  display: table
  width: 100%

  &__row
    display: table-row

  &__td
    display: table-cell

.textfield
  display: inline-block
  width: 299px
  padding: 14px 17px 13px
  border: 1px solid $gray_light5
  background-color: $gray_light4
  border-radius: 3px
  outline: none

  font-size: 13px
  line-height: 18px
  color: $gray_dark
  letter-spacing: 0
  font-family: mainFont

  &::placeholder
    color: $gray_light2

  &_wide
    width: 100%

  &:hover
    border-color: $blue

  &:active, &:focus
    border-color: $white
    background-color: $white
    box-shadow: 0px 0px 15px 0px rgba(52, 41, 32, 0.07);



.textarea
  @extend .textfield

  width: 100%
  height: 87px

.select
  width: 100%

  & + .select2

    .select2-selection
      padding: 7px 11px 13px
      border: 1px solid $gray_light5
      background-color: $gray_light4
      border-radius: 3px
      outline: none
      height: 43px

      font-size: 13px
      line-height: 18px
      color: $gray_dark
      letter-spacing: 0
      font-family: mainFont

      &__arrow
        right: 18px

        b
          position: absolute
          top: 19px
          right: 18px
          content: ''
          background-image: url('../img/general/i-arrow-down.png')
          width: 12px
          height: 7px
          background-repeat: no-repeat
          background-size: 100%
          border: none

.select2-container .select2-results__option
  padding: 15px 20px
  background-color: $gray_light4
  border-bottom: 1px solid $gray_light5
  cursor: pointer

  font-size: 13px
  line-height: 18px
  color: $gray_dark !important

  &[aria-selected="true"]
    background-color: $gray_light4

  &--highlighted
    background-color: $gray_light5 !important

.nano .nano-content { padding: 10px; }
.nano .nano-pane   { display: block;background: #888; width:10px; }
