.input
  border: none
  border-bottom: 1px solid $gray_light
  padding-left: 0
  padding-right: 0
  border-radius: 0

  font-family: mainFont
  font-size: 16px
  line-height: 21px

  &::placeholder
    color: $gray_light2

.button-input
  background: none
  border: none
  appearance: none
  background-repeat: no-repeat
  background-size: contain
  padding: 0

.button
  color: $white
  font-size: 14px
  line-height: 21px
  text-align: center
  text-transform: uppercase
  font-weight: 600
  transition: .3s ease color

  @media $tablet
    font-size: 12px

  span
    width: 150px
    border: 2px solid #fff;
    padding: 8px 17px;
    display: inline-block;
    transition: .3s ease background-color

    @media $small_tablet
      width: 140px

    @media $mobile
      width: 150px

  &:hover
    color: $black

    span
      background-color: $white


.burger
  display: block
  position: relative
  overflow: hidden
  margin: 0
  padding: 0
  width: 28px
  height: 28px
  font-size: 0
  text-indent: -9999px
  appearance: none
  box-shadow: none
  border-radius: none
  border: none
  cursor: pointer


  span
    display: block
    position: absolute
    top: 12px
    left: 5px
    right: 5px
    height: 2px
    background: $blue


    &::before, &::after
      position: absolute
      display: block
      left: 0
      width: 100%
      height: 2px
      background-color: $blue
      content: ""
      transition: transform 0.3s

    &::before
      top: -5px

    &::after
      bottom: -5px

  &_opened

    span

      background: transparent

      &::before
        top: 0
        transform: rotate(45deg)
        background: $black

      &::after
        bottom: 0
        transform: rotate(-45deg)
        background: $black

.breadcrumbs

  &__list
    display: flex
    align-items: center
    justify-content: center
    padding: 24px 0 26px
    margin: 0 auto

    @media $tablet
      padding: 17px 0 14px

  &__item
    margin-right: 18px

    font-size: 12px
    line-height: 21px
    color: $gray_light
    text-transform: uppercase

    &:last-child
      margin-right: 0

    &:hover

      a
        text-decoration: underline

    &::after
      content: '→'
      margin-left: 17px

    &_active
      color: $violet

      &::after
        content: none

.pagination

  &__list
    display: flex

  &__item
    margin-right: 11px

    font-weight: 300
    font-size: 13px
    color: $gray_dark2
    border: 1px solid $gray_light5

    a
      display: block
      padding: 7px 8px
      min-width: 30px
      text-align: center
      white-space: nowrap

    &:last-child
      margin-right: 0

    &:first-child

      a
        padding-right: 15px

    &_active
      border-color: transparent
      margin-right: 4px
      margin-left: -9px

      a
        min-width: 27px
        padding: 7px

.btn
  display: inline-block
  background-color: $pink
  padding: 7px 10px 5px
  width: 100%
  max-width: 239px

  color: $white
  text-transform: uppercase
  font-size: 12px
  line-height: 21px
  font-weight: 600
  letter-spacing: 0.96px
  text-align: center

  @media $tablet
    max-width: 175px

.like-h2
  font-size: 24px
  line-height: 21px
  font-weight: 300
  $gray_dark2
  text-transform: uppercase
  letter-spacing: 1.92px

.tabs
  font-size: 0

  &__content
    display: none
    width: 100%

  &__label
    display: inline-block
    width: 50%
    padding: 15px 10px 13px
    border: 1px solid $gray_light3
    border-left: none
    position: relative

    text-transform: uppercase
    font-size: 14px
    line-height: 21px
    text-align: center
    letter-spacing: 1.1px
    color: $gray_dark2

    &:last-child
      border-right: none

  &__input
    display: none

    &:checked

      & + .tabs
        &__label
          background-color: $gray_light4

          .tabs__reset
            display: block


  &__reset
    display: none
    appearance: none
    border: none
    background: url('../img/general/i-close.png')
    background-repeat: no-repeat
    width: 13px
    height: 13px
    font-size: 0
    position: absolute
    top: 19px
    right: 19px
    cursor: pointer

  #tab-filters:checked ~ #mobile-filters, #tab-sort:checked ~ #mobile-sort
    display: block;
