.input
  border: none
  border-bottom: 1px solid $gray_light

  font-family: mainFont
  font-size: 16px
  line-height: 21px

  &::placeholder
    color: $gray_light2

.button-input
  background: none
  border: none
  appearance: none
  background-repeat: no-repeat
  background-size: 100%