// ЦВЕТА

$white = #fff
$black = #000

$gray = #5b5b5b


$gray_dark = #222222
$gray_dark2 = #3e3e3e
$gray_dark3 = #545454

$gray_light = #bbbbbb
$gray_light2 = #b0b0b0
$gray_light3 = #c1c1c1

$violet = #31354c

$yellow = #ffec85

$blue = #0094b2


// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ
mainFont = 'PF BeauSans Pro', sans-serif, Arial

// MEDIA

$small_desktop = 'screen and (max-width 1280px)'
$tablet = 'screen and (max-width 1024px)'