// ЦВЕТА

$white = #fff
$black = #000

$gray = #5b5b5b
$gray2 = #838383


$gray_dark = #222222
$gray_dark2 = #3e3e3e
$gray_dark3 = #545454

$gray_light = #bbbbbb
$gray_light2 = #b0b0b0
$gray_light3 = #c1c1c1
$gray_light4 = #fafafa
$gray_light5 = #e3e3e3


$violet = #31354c
$violet_dark = #33373c

$yellow = #ffec85

$blue = #0094b2
$blue_hover = #00a7c9

$pink = #f05b71
$pink_hover = #ff7489
$pink2 = #e05e60

$red = #ce4040

// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ
mainFont = 'PF BeauSans Pro', sans-serif, Arial

// MEDIA

$small_desktop = 'screen and (max-width 1280px)'
$tablet = 'screen and (max-width 1024px)'
$small_tablet = 'screen and (max-width 767px)'
$mobile = 'screen and (max-width 480px)'
$small_mobile = 'screen and (max-width 380px)'