.blog-page

  &__wrap
    padding: 0 12px

  .pagination
    margin-bottom: 30px

  .blog

    &__list
      display: flex
      flex-wrap: wrap
      margin-bottom: 32px

      @media $tablet
        margin-bottom: 25px

      @media $mobile
        margin-bottom: 20px

    &__item
      width: calc((100% - 15px) / 4)
      margin-right: 5px
      margin-bottom: 31px

      @media $tablet
        width: calc((100% - 6px) / 3)
        margin-right: 3px
        margin-bottom: 22px

      @media $mobile
        width: calc((100% - 20px) / 2)
        margin-right: 20px

      &:nth-child(4n)
        margin-right: 0

        @media $tablet
          margin-right: 3px

      &:nth-child(3n)
        @media $tablet
          margin-right: 0

        @media $mobile
          margin-right: 20px

      &:nth-child(2n)
        @media $mobile
          margin-right: 0



  .blog-elem
    width: 100%

    &:hover

      .blog-elem

        &__name

          span, a
            border-bottom: 1px solid black

        &__overlay
          opacity: .3

    &__img
      display: block
      position: relative
      padding-bottom: 100%
      background-repeat: no-repeat
      background-position: center center
      background-size: contain
      margin-bottom: 10px

    &__overlay
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-color: $black
      opacity: 0
      transition: .3s opacity ease

    &__info
      display: flex
      justify-content: space-between
      padding: 0 12px
      margin-bottom: 10px

      font-size: 14px
      line-height: 21px
      letter-spacing: 0
      color: $gray2

      @media $small_desktop
        flex-wrap: wrap

      @media $mobile
        padding: 0

      & > *
        width: 33.3%

        @media $small_desktop
          width: 50%

    &__category
      text-align: center

      @media $small_desktop
        width: 100%
        order: 2
        text-align: left

      @media $tablet
        margin-top: 5px

      span, a
        display: inline-block
        padding: 0 15px

        font-size: 12px
        line-height: 18px
        color: $black
        border: 1px solid $black
        font-weight: 600
        transition: .3s opacity ease

      a
        transition: .3s opacity ease

        &:hover
          opacity: .7


    &__views
      text-align: right

      &::before
        content: ''
        display: inline-block
        margin-right: 4px
        width: 14px
        height: 9px
        background-image: url('../img/general/i-views.png')
        background-repeat: no-repeat
        background-position: center center

    &__name
      padding: 0 12px
      margin-bottom: 11px

      font-size: 24px
      line-height: 20px
      letter-spacing: 0
      color: $black

      @media $small_desktop
        font-size: 22px

      @media $tablet
        font-size: 18px

      @media $small_tablet
        margin-bottom: 6px

        font-size: 16px

      @media $mobile
        padding: 0

    &__descr
      padding: 0 12px

      font-size: 14px
      line-height: 18px
      letter-spacing: 0
      color: $gray_dark

      @media $mobile
        padding: 0



