.catalog

  .banner

    &__bg
      height: 200px
      background-repeat: no-repeat
      background-position: center center

      @media $tablet
        height: 142px

    &__text
      display: flex
      justify-content: center
      align-items: center
      height: 100%

      font-size: 72px
      color: $white
      font-weight: 600
      text-transform: uppercase
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25)
      letter-spacing: 5.7px

      @media $tablet
        font-size: 36px
        letter-spacing: 2.7px

  .filters
    margin-bottom: 13px

    @media $small_tablet
      display: none

    &__names
      display: flex
      justify-content: space-between
      align-items: flex-start
      margin-bottom: 6px

      @media $tablet
        margin-bottom: 19px

    &__list
      display: flex
      flex-wrap: wrap

    &__item, &__sort
      position: relative
      border: 1px solid $gray_light5
      padding: 4px 10px 5px;
      min-width: 122px;
      margin-right: 14px
      margin-bottom: 14px
      cursor: pointer
      user-select: none

      font-size: 13px
      line-height: 21px
      font-weight: 600
      color: $gray_dark2

      &:hover
        border-color: $gray_dark2

      &:last-child
        margin-right: 0

      &_wide
        min-width: 258px

      &::after 
        content: ''
        display: block
        position: absolute
        top: 11px
        right: 9px
        width: 5px
        height: 6px
        background-image: url('../img/general/i-triangle-right-black.png')
        background-repeat: no-repeat
        will-change: transform

      &_opened
        background: $gray_light5

        &::after
          transform: rotate(90deg)

    .value
      display: block

      &__list
        display: none
        align-items: center
        justify-content: center
        flex-wrap: wrap
        padding: 11px 15px
        border: 1px solid $gray_light5
        margin-bottom: 20px

        @media $tablet
          padding: 6px 15px
          margin-bottom: 39px
          border-left: none
          border-right: none

        &_opened
          display: flex

        &_color
          padding: 0 15px

          @media $tablet
            padding: 9px 6px

          .value

            &__item
              margin: 15px 12px

              &:first-child
                margin-left: 0

              &:last-child
                margin-right: 0

              @media $tablet
                margin: 12px

          i
            display: block
            width: 42px
            height: 42px
            border-radius: 21px
            background-repeat: no-repeat
            background-size: contain

            @media $tablet
              width: 22px
              height: 22px

      &__item
        margin: 15px 17px

        &:hover
          text-decoration: underline

        @media $tablet
          font-size: 15px




    &__result-pagination
      display: flex
      justify-content: space-between
      align-items: flex-start

      @media $small_tablet
        display: none



    .result

      &__wrap
        display: flex
        flex-wrap: wrap
        align-items: flex-start

      &__text
        margin-right: 13px

        color: $gray_light
        font-size: 13px
        line-height: 21px

      &__item
        margin-right: 15px
        padding: 3px 10px
        margin-bottom: 10px

        font-size: 13px
        font-weight: 600
        color: $gray_dark2
        border: 1px solid $gray_dark2

      &__clear
        color: $gray_light
        font-size: 13px
        line-height: 21px
        text-decoration: underline




  .filters-sort-mobile
    display: none
    margin-bottom: 55px

    @media $small_tablet
      display: block

    &__name
      position: relative
      padding: 25px 16px 26px
      border-bottom: 1px solid $gray_light5

      font-size: 14px
      line-height: 21px
      color: $gray_dark
      letter-spacing: 1.2px
      text-transform: uppercase
      font-weight: 600

      &::after
        content: ''
        position: absolute
        top: 30px
        right: 18px
        background-image: url('../img/general/i-arrow-down.png')
        width: 12px
        height: 7px
        background-repeat: no-repeat
        background-size: 100%
        will-change: transform

    .value
      @extend .catalog .filters .value

      display: none
      background-color: $gray_light4

      &__list
        display: flex
        flex-wrap: wrap
        border-top: none
        margin-bottom: 0
        justify-content: flex-start

        padding: 18px 15px 31px

        @media $small_mobile
          padding: 6px 15px

        &_color
          justify-content: flex-start
          padding: 22px 13px


          .value__item
            width: auto
            margin: 13px 35px
            padding: 0

            font-size: 14px

            @media $mobile
              width: 25%
              margin: 13px 0


            &:first-child
              margin-left: 35px

              @media $mobile
                margin-left: 0

            &:last-child
              margin-right: 35px

              @media $mobile
                margin-right: 0

            i
              width: 42px
              height: 42px
              margin: 0 auto

      &__item
        width: 33.3%
        margin: 0
        padding: 15px 0 7px

        letter-spacing: 0
        white-space: nowrap

        @media $small_mobile
          width: auto
          margin-right: 10px



    &__item

      &_opened

        .filters-sort-mobile

          &__name

            &::after
              transform: rotate(-90deg)

        .value
          display: block



    .tabs

      font-size: 0

      &__label
        display: inline-block
        width: 50%
        padding: 15px 10px 13px
        border: 1px solid $gray_light5
        border-left: none
        position: relative
        user-select: none

        text-transform: uppercase
        font-size: 14px
        line-height: 21px
        text-align: center
        letter-spacing: 1.1px
        color: $gray_dark2

        &:last-child
          border-right: none

      &__input
        &:checked

          & + .tabs

            &__label
              background-color: $gray_light4

              .tabs__reset
                display: block

      &__reset
        display: none
        appearance: none
        border: none
        background: url('../img/general/i-close.png')
        background-repeat: no-repeat
        width: 13px
        height: 13px
        font-size: 0
        position: absolute
        top: 19px
        right: 19px
        cursor: pointer

        @media $mobile
          right: 10px


  .products
    margin-bottom: 50px

    .container

      @media $small_mobile
        padding: 0 6px

    @media $tablet
      margin-bottom: 10px

    &__list
      display: flex
      flex-wrap: wrap

    &__item
      width: 25%
      margin-bottom: 55px

      @media $tablet
        width: 33.3%

      @media $small_tablet
        width: 50%
        padding: 0 5px

      .product
        margin: 0 auto
        height: 100%
        justify-content: flex-end

      .promo
        margin: 0 auto
        height: 100%

  .product
    max-width: 337px
    display: flex
    flex-direction: column

    &:hover

      .product__name
        text-decoration: underline

    &__image
      height: 290px
      margin-bottom: 20px
      text-align: center
      flex-grow: 1

      @media $tablet
        height: 180px
        margin-bottom: 10px

      a
        display: block
        height: 100%

      img
        max-height: 100%

    &__name
      margin-bottom: 2px

      text-align: center
      color: $gray_dark2
      font-size: 15px
      line-height: 21px
      font-weight: 600

    &__price
      margin-bottom: 17px

      text-align: center

      @media $tablet
        margin-bottom: 10px

    &__btn
      text-align: center


  .promo
    display: flex
    flex-direction: column
    justify-content: center

