.index

  &__banner
    max-width: 1920px
    margin: 0 auto 46px
    text-align: center

  .blocks

    &__list
      display: flex
      justify-content: space-between

      &_3

        .blocks

          &__item
            width: calc(33.3% - 3px)

        .index-block

          &__name
            text-transform: none

            @media $tablet
              font-size: 24px
              font-weight: 300

          &__text

            @media $tablet
              bottom: 31px
              margin-bottom: 20px
              letter-spacing: 0

      &_5

        .blocks

          &__item
            width: calc(20% - 3px)

        .index-block

          &__text
            bottom: 19px
            left: 19px

            @media $tablet
              bottom: 13px
              left: 11px
              right: 11px

          &__name
            margin-bottom: 0
            font-size: 24px
            letter-spacing: 0
            font-weight: 300
            text-align: left
            text-transform: none

            @media $tablet
              font-size: 21px
              font-weight: 300



    &__item
      width: calc(50% - 3px)

  &__head
    display: flex
    justify-content: space-between
    padding-top: 13px
    padding-bottom: 9px

    color: $gray_dark2
    font-size: 18px
    line-height: 21px
    font-weight: 300

    @media $tablet
      padding-top: 11px
      padding-bottom: 2px

      font-size: 16px

  &__heading
    text-transform: uppercase
    letter-spacing: 1px

  &__more
    letter-spacing: 0

    &::after
      content: ''
      display: inline-block
      width: 5px
      height: 6px
      background-image: url('../img/general/i-triangle-right-black.png')
      background-repeat: no-repeat
      background-size: 100%
      margin-left: 10px
      position: relative
      top: -1px

    &:hover
      text-decoration: underline

  .since
    padding-top: 50px
    margin-bottom: 25px

    &__img
      width: 190px
      margin: 0 auto 28px

      @media $tablet
        width: 267px

    &__text
      text-align: center
      color: $gray_dark3
      font-size: 16px
      line-height: 21px
      letter-spacing: 0

      @media $tablet
        max-width: 620px
        margin: 0 auto

        br
          display: none

  .video
    margin: 0 auto

    &__list
      margin: 0 -3.5px

    &__item
      padding: 0 3.5px
      outline: none
      cursor: pointer

      &:hover

        .video

          &__overlay
            background-color: alpha($black, 0.3)

          &__icon
            opacity: .75

    &__wrap
      position: relative
      padding-bottom: 56%
      background-size: contain

    &__overlay
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 1
      transition .3s ease background-color
      display: flex
      justify-content: center
      align-items: center

    &__icon
      width: 90px
      height: 63px
      background-repeat: no-repeat
      background-size: 100%
      background-image: url('../img/general/i-video-youtube.png')
      opacity: .3
      transition: .3s ease opacity

      @media $tablet
        width: 36px
        height: 25px


    &__slider
      position: relative

      .slick-dots
        display: flex
        justify-content: center
        margin-top: 13px

        li
          margin-right: 9px

          &:last-child
            margin-right: 0

        .slick-active

          button
            background-color: $blue

        button
          display: block
          border: none
          appearance: none
          width: 16px
          height: 16px
          font-size: 0
          line-height: 0
          background-color: #e8e8e8
          border-radius: 50%

    &__arrow
      position: absolute
      z-index: 2
      width: 36px
      height: 68px
      top: 50%
      transform: translateY(-50%)
      background-repeat: no-repeat
      background-size: 100%
      transition: .3s ease opacity
      opacity: .7
      cursor: pointer

      @media $tablet
        display: none

      &:hover
        opacity 1

      &_prev
        left: 57px
        background-image: url('../img/general/i-slider-prev.png')

      &_next
        right: 57px
        background-image: url('../img/general/i-slider-next.png')

    .slick-arrow
      display: none !important

  .instagram

    &__list
      display: flex
      flex-wrap: wrap

    &__item
      width: 25%
      padding-bottom: 25%
      position: relative
      cursor: pointer
      background-size: contain

      &:hover

        .instagram

          &__overlay
            background-color: alpha($black, 0.3)

          &__text
            opacity: 1


    &__overlay
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 1
      transition .3s ease background-color
      display: flex
      justify-content: center
      align-items: center

    &__text
      position: absolute
      z-index: 2
      top: 0
      left: 0
      width: 100%
      height: 100%
      opacity: 0
      transition .3s ease opacity
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center

    &__icon
      background-repeat: no-repeat
      background-size: 100%
      width: 25px
      height: 25px
      margin-bottom: 89px
      background-image: url('../img/general/i-insta-icon.png')

      @media $tablet
        margin-bottom: 56px

    &__btn

      &:hover
        color: $white

        span
          background-color: transparent
