.order-page

  .like-h1
    margin-top: -3px
    margin-bottom: 40px



  &__wrap
    display: flex
    align-items: flex-start
    width: 1200px

    @media $tablet
      width: 100%

    @media $mobile
      flex-direction: column-reverse

  .summary
    width: 320px
    padding: 12px 30px 11px
    border: 1px solid $gray_light5

    @media $tablet
      width: 220px
      padding: 26px 30px 22px
      flex-shrink: 0

    @media $mobile
      width: 100%
      padding: 12px 30px 11px
      margin-bottom: 20px

    &_mobile
      display: none

      @media $mobile
        display: block
        margin-bottom: 0

    .table
      width: 100%

      font-size: 13px
      color: $gray_dark2

      &__row

        @media $tablet
          display: block
          margin-bottom: 16px

        @media $mobile
          display: table-row

      &__td
        padding: 13px 0 11px
        border-bottom: 1px solid $gray_light5

        @media $tablet
          display: block
          padding: 0

        @media $mobile
          display: table-cell
          padding: 13px 0 16px

        &:first-child
          
          @media $tablet
            border-width: 0
            margin-bottom: 6px

          @media $mobile
            border-width: 1px

        &:last-child
          text-align: right
          
          @media $tablet
            padding-bottom: 13px

            text-align: left

          @media $mobile
            text-align: right



    &__head

      .table__td
        border-color: $gray_light3

        &:first-child
          font-weight: 600




    &__total

      &.table__row

        @media $tablet
          margin-bottom: 0

      .table__td
        padding-top: 17px
        border-bottom: none

        @media $tablet
          padding-top: 10px

        @media $mobile
          padding-top: 23px

        &:last-child
          font-size: 24px
          letter-spacing: 0

          @media $tablet
            font-size: 21px
            margin-bottom: 0
            padding: 0




  .details
    margin-right: 12px

    @media $tablet
      margin-right: 17px

    @media $mobile
      margin-right: 0

    @media $mobile
      width: 100%

    &__block
      width: 869px
      margin-bottom: 13px
      border: 1px solid $gray_light5

      @media $tablet
        width: auto

      &_opened

        .details__content
          display: block
        
        .details__summary
          display: none
      
    .head
      display: flex
      align-items: center
      background-color: $gray_light4
      padding: 21px 20px

      &__count
        width: 14px
        height: 14px
        border-radius: 7px
        border: 1px solid $gray2
        margin-right: 12px

        font-size: 8px
        line-height: 14px
        color: $gray2
        text-align: center

      &__name
        flex-grow: 1

        font-weight: 600
        font-size: 21px
        line-height: 24px
        color: $gray_dark

        @media $small_mobile
          font-size: 16px

      &__change-link
        color: $pink
        font-size: 13px
        line-height: 24px

        &:hover
          text-decoration: underline



    &__content
      display: none
      padding: 22px 21px

      @media $tablet
        padding: 22px 20px

    .title
      color: $gray2
      font-size: 14px
      line-height: 18px
      margin-bottom: 10px

      &_required

        &::after
          content: ' *'
          color: $pink




    .details__table
      .table
        margin-bottom: 20px

        &__row

          &:first-child

            .table

              &__td
                padding: 0 0 10px

        &__td
          padding: 13px 0
          border-bottom: 1px dotted $gray_light5

          color: $gray_dark
          text-align: center

          @media $mobile
            width: auto

          &:first-child
            text-align: left

          &:nth-child(2)
            width: 130px

            @media $mobile
              width: auto

          &:last-child
            width: 180px

            @media $mobile
              width: auto


        a
          color: $pink

          &:hover
            text-decoration: underline



    .promo
      .textfield
        border-radius: 0


      &__elem
        position: relative
        display: inline-block
        max-width: 100%

        .textfield
          max-width: 100%

      &__btn
        position: absolute
        appearance: none
        border: none
        cursor: pointer
        top: 0
        right: 0
        width: 47px
        height: 47px
        background: url('../img/general/i-arrow-active.png')
        background-repeat: no-repeat
        background-position: center center


    .location
      position: relative

      &__input
        position: relative
        margin-bottom: 23px

        &::before
          content: ''
          display: block
          position: absolute
          top: 17px
          left: 17px
          width: 14px
          height: 14px
          background: url('../img/general/i-search-big.png')
          background-repeat: no-repeat
          background-position: center center

      &__clear
        position: absolute
        appearance: none
        border: none
        cursor: pointer
        top: 0
        right: 0
        width: 47px
        height: 47px
        background: url('../img/general/i-close.png')
        background-repeat: no-repeat
        background-position: center center



      &__dropdown
        display: none
        border: 1px solid $gray_light5
        border-top: none
        position: absolute
        top: 100%
        left: 0
        right: 0

      &__item
        padding: 15px 45px
        background-color: $gray_light4
        border-bottom: 1px solid $gray_light5
        cursor: pointer

        font-size: 13px
        line-height: 18px
        color: $gray_light

        span
          color: $gray_dark

        &:last-child
          border-bottom: 0

        &:hover
          background-color: $gray_light5

      .textfield
        padding-left: 45px

        &:focus

          & ~ .location__dropdown
            display: block

    &__hint
      font-size: 13px
      line-height: 18px
      color: $gray_light

    &__btns
      display: flex
      justify-content: flex-end
      padding: 22px 20px 0
      margin: 22px -21px 0
      border-top: 1px solid $gray_light5

      &_both
        justify-content: space-between

      .btn
        width: 189px

        @media $mobile
          width: auto
          max-width: calc(50% - 10px)



    &__btn
      margin-top: 33px
      text-align: right

      @media $mobile
        margin-top: 19px

      .btn
        width: 209px

        @media $mobile
          width: 100%
          max-width: none

    &__summary
      padding: 23px 22px 20px

      font-size: 13px
      line-height: 18px
      color: #777777

      span
        color: $gray_dark

  .delivery
    display: flex
    align-items: flex-start
    margin-bottom: -10px

    @media $tablet
      flex-direction: column

    &__list
      display: flex
      flex-wrap: wrap
      padding-top: 7px


    &__item
      width: 205px
      margin-right: 19px
      margin-bottom: 18px

      font-size: 14px
      line-height: 18px
      color: $black

      @media $tablet
        width: calc(50% - 10px)
        margin-right: 20px

      &:nth-child(2n)
        margin-right: 0

      label
        cursor: pointer

      input[type='radio']
        display: none

        &:checked

          & + label

            .delivery

              &__top
                border-color: $pink

              &__img
                border-color: $pink

              &__name
                color: $pink

    &__top
      border: 1px solid $gray_light5
      margin-bottom: 6px

    &__img
      height: 117px
      background-position: center center
      background-repeat: no-repeat
      border-bottom: 1px solid $gray_light5

      @media $small_mobile
        height: 80px
        background-size: contain

    &__price
      display: block
      padding: 12px
      text-align: center
      background-color: $gray_light4

    &__name
      text-align: center

    .result
      margin-top: 12px
      min-height: 360px
      flex-shrink: 0
      width: 374px
      padding: 18px 24px 50px
      background-color: $gray_light4

      @media $tablet
        width: 100%
        padding-left: 0
        padding-right: 0
        min-height: auto
        padding-bottom: 18px
        margin-bottom: 24px

      &__name
        margin-bottom: 16px

        font-size: 16px
        line-height: 24px
        letter-spacing: 0
        color: $gray_dark
        font-weight: 600

        @media $tablet
          padding-left: 24px
          padding-right: 24px

      &__img
        margin-bottom: 16px

        @media $tablet
          text-align: center

      &__hint
        margin-bottom: 10px

        font-size: 13px
        line-height: 18px
        color: #777777

        @media $tablet
          padding-left: 24px
          padding-right: 24px

      &__price
        font-size: 14px
        line-height: 24px
        color: $gray_dark
        letter-spacing: 0

        @media $tablet
          padding-left: 24px
          padding-right: 24px

      &__time
        font-size: 14px
        line-height: 24px
        color: $gray_dark
        letter-spacing: 0

        @media $tablet
          padding-left: 24px
          padding-right: 24px




  .payment
    @extend .order-page .delivery
    margin-bottom: -15px

    &__list
      padding-top: 0

    &__item
      margin-bottom: 22px

      input[type='radio']

        &:checked

          & + label

            .payment

              &__img
                border-color: $pink

              &__name
                color: $pink

    &__img
      margin-bottom: 8px
      border: 1px solid $gray_light5

    .result
      margin-top: 4px
      border: 1px solid $gray_light5

  .contacts
    margin-top: -3px
    margin-bottom: 25px

    .textfield
      height: 44px

    .title
      margin-bottom: 6px

    &__item
      margin-bottom: 21px

      &_textarea
        margin-top: -4px





